# Nested for loop

In [4]:
# - When we have a loop within another loop then it is a nested loop.
# - For each iteration of the outer loop, the inner loop completes all its iterations.

In [ ]:
for loop: # Outer loop
    for loop: #Inner Loop
        code
        code

In [6]:
for i in range(3): # Outer loop
    for j in range(4): # Inner loop
        print('Python')

Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python

In [14]:
for i in range(3):
    print('i->',i)
    print('-------------------------')
    for j in range(4):
        print('j->',j)
    print('***************************')
    print()

i-> 0
-------------------------
j-> 0
j-> 1
j-> 2
j-> 3
***************************

i-> 1
-------------------------
j-> 0
j-> 1
j-> 2
j-> 3
***************************

i-> 2
-------------------------
j-> 0
j-> 1
j-> 2
j-> 3
***************************

In [18]:
lst=[(10,20,30),(45,50),(78,95,44,36),(78,95,65),(78,32)]
print(lst,type(lst))

[(10, 20, 30), (45, 50), (78, 95, 44, 36), (78, 95, 65), (78, 32)] <class 'list'>

In [20]:
for i in lst:
    print(i)

(10, 20, 30)
(45, 50)
(78, 95, 44, 36)
(78, 95, 65)
(78, 32)

In [26]:
i=(78, 95, 44, 36)
for j in i:
    print(j)

78
95
44
36

In [32]:
s=0
for i in lst:
    for j in i:
        s+=j
print(s)

756

In [42]:
names=['Unni','Suresh','Mahesh','Harish','Sumit', 'Amit','Ivansh']
# Get all the vowels from the ablove list

for i in names:
    for j in i:
        if j in 'AEIOUaeiou':
            print(j)

U
i
u
e
a
e
a
i
u
i
A
i
I
a

In [38]:
i='Unni'
for j in i:
    if j in 'AEIOUaeiou':
        print(j)

U
i

In [48]:
names=['Unni','Suresh','Mahesh','Harish','Sumit', 'Amit','Ivansh']
# Get all the upper case letters from the ablove list

for i in names:
    for j in i:
        if j.isupper():
            print(j)

U
S
M
H
S
A
I

In [56]:
my_str='Peter piper picked a pack of pickeled peppers'

# Output- 'reteP repip dekcip a kcap fo delekcip srppep'

for i in my_str.split():
    print(i)

Peter
piper
picked
a
pack
of
pickeled
peppers

In [72]:
i='pack'
s=''
for j in range(len(i)-1,-1,-1):
    s+=i[j]
s

'kcap'

In [90]:
my_str='Peter piper picked a pack of pickeled peppers'

# Output- 'reteP repip dekcip a kcap fo delekcip srppep'
lst=[]
s=''

for i in my_str:
    if i!=' ':
        s+=i
    else:
        lst.append(s)
        s=''
lst.append(s)
print(lst)

s=''
for i in lst:
    for j in range(len(i)-1,-1,-1):
        s+=i[j]
    if i!=lst[-1]:
        s+=' '
s

['Peter', 'piper', 'picked', 'a', 'pack', 'of', 'pickeled', 'peppers']

'reteP repip dekcip a kcap fo delekcip sreppep'

In [92]:
lst[-1]

'peppers'

In [104]:
my_str='Peter piper picked a pack of pickeled peppers'

# Output- 'sreppep delkcip fo kcap a dekcip repip reteP'
s=''
for i in range(len(my_str)-1,-1,-1):
    s+=my_str[i]
print(s)

sreppep delekcip fo kcap a dekcip repip reteP

# while Loop

In [107]:
# - Generally while loop is used when we don't know the number of iterations.

### Componnets

In [110]:
# - 1- Intialisation of a counter
# - 2- Condition
# - 3- Increment/Decrement

In [122]:
# Print Python 5 times using while loop

i=1 # Counter intialisation

while i<=5: # Condition
    print('Python')
    i+=1

Python
Python
Python
Python
Python

In [120]:
6<=5

False

In [124]:
# while condition:
#     code

In [126]:
# - Until the condition gets False , it keeps on repeating the code.
# - If the condition never gets False, It will execte the code infinite time.

In [1]:
# i=1
# while i<=5:
#     print('Python')

In [5]:
# Print the numebrs from 1 to 10 using while loop

i=1

while i<=10:
    print(i)
    i+=1 # i=i+1

1
2
3
4
5
6
7
8
9
10

In [7]:
# Print the even numbers from 2 to 20 using while loop

i=2
while i<=20:
    print(i)
    i+=2

2
4
6
8
10
12
14
16
18
20

In [11]:
# Print the numbers from 10 to 1 using while loop

i=10

while i>=1:
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1

In [25]:
my_str='Python'

# Get the reverse indexes and the elements of the above string using while loop.

last_index=len(my_str)-1
# print(last_index)
start_index=0
# print(start_index)

while last_index>=start_index:
    print(my_str[last_index])
    last_index-=1

n
o
h
t
y
P

In [31]:
i=len(my_str)-1

while i>=0:
    print(i,my_str[i])
    i-=1

5 n
4 o
3 h
2 t
1 y
0 P

In [41]:
my_str='Python'

# Get the negative indexes in reverse order and the elements of the above string using while loop.

i=-len(my_str)

while i<=-1:
    print(i,my_str[i])
    i+=1

-6 P
-5 y
-4 t
-3 h
-2 o
-1 n

In [53]:
my_str='Python'

# Output- Using while loop
# P
# yy
# ttt
# hhhh
# ooooo
# nnnnnn

i=0

while i<len(my_str):
    print(my_str[i]*(i+1))
    i+=1

P
yy
ttt
hhhh
ooooo
nnnnnn

In [ ]:
i=0 -> P
i=1 -> yy
i=2 -> ttt

In [63]:
my_str='Python'

# n
# oo
# hhh
# tttt
# yyyyy
# PPPPPP

i=len(my_str)-1
j=1
while i>=0:
    print(i,my_str[i]*j)
    i-=1
    j+=1

5 n
4 oo
3 hhh
2 tttt
1 yyyyy
0 PPPPPP

# while True

In [5]:
# - It is always True.
# - It executes a piece code infinite times.
# - break statement is used to terminate any loop.
# - While True is generally use when we don't know the number of iterations.

In [1]:
# while True:
#     print('Hello')

In [3]:
while True:
    print('Hello')
    break

Hello

In [9]:
# Suppose you are creating a login form.
# Take the password from the user.
# If the pasword matches then it should say password matched, you are welcome.
# If the password doesn't match then it should say Incorrect password and should ask for the password again.

In [13]:
password='JKL@123'

pas=input('Enter the password- ')

while True:
    if pas==password:
        print('Password matched')
        print('You are welcome!')
        break
    else:
        print('Incorrect password')
        pas=input('Enter the password again- ')

Enter the password-  123

Incorrect password

Enter the password again-  abc

Incorrect password

Enter the password again-  jkl

Incorrect password

Enter the password again-  JKL@123

Password matched
You are welcome!

# Transfer Statements

In [16]:
# break
# continue

# break

In [19]:
# - It is used to terminate a loop.
# - As soon as break statement gets executed the control comes out of the loop.

In [ ]:
loop: # Outer loop
    loop: # Inner Loop
        break # Inner break
    break # Outer break

In [21]:
# - The inner break will terminate the inner loop.
# - The outer break will terminate the outer loop.

In [25]:
for i in range(5):
    print('Hello')
    break

Hello

In [31]:
codes=[101,102,103,104,105,106,None,107,108]

for i in codes:
    if i!=None:
        print(i,'aded to the database')
    else:
        break

101 aded to the database
102 aded to the database
103 aded to the database
104 aded to the database
105 aded to the database
106 aded to the database

In [33]:
for i in range(3):
    for j in range(4):
        print('Python')

Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python
Python

In [35]:
for i in range(3):
    for j in range(4):
        print('Python')
        break

Python
Python
Python

In [37]:
# i=0
# j=0 -> Python break

# i=1
# j=0 -> Python break

# i=2
# j=0 -> Python break
# i is exhausted

In [39]:
for i in range(3):
    for j in range(4):
        print('Python')
    break

Python
Python
Python
Python

In [41]:
# i=0
# j=0 -> Python, j=1 -> Python, j=2 -> Python, j=3 -> Python exhausted
# break

In [43]:
for i in range(3):
    for j in range(4):
        print('Python')
        break
    break

Python

In [45]:
# i=0
# j=0 -> Python break
# break

# continue

In [51]:
# - It is used to skip the current iteration.
# - continue does not terminate the loop but it just skips the current iteration.
# - As soon as continue gets executed the control goes to the next iteration.

In [67]:
codes=[101,102,None,104,105,106,None,107,108]

for i in codes:
    if i!=None:
        print(i,'added to the database')
    else:
        continue

101 added to the database
102 added to the database
104 added to the database
105 added to the database
106 added to the database
107 added to the database
108 added to the database

In [69]:
for i in range(10):
    if i%2!=0:
        continue
    else:
        print(i)

0
2
4
6
8

In [71]:
# continue and beak can not be used without loop

In [73]:
break

SyntaxError: 'break' outside loop (668683560.py, line 1)

In [75]:
continue

SyntaxError: 'continue' not properly in loop (414696514.py, line 1)

In [77]:
if 2==2:
    continue
else:
    print('Hello')

SyntaxError: 'continue' not properly in loop (377489523.py, line 2)

In [79]:
if 2==2:
    break
else:
    print('Hello')

SyntaxError: 'break' outside loop (2747518663.py, line 2)

# pass

In [82]:
# - It is an empty statement.
# - When we don't have any statement to put the we simply use pass

In [90]:
if 2==2:
    pass
else:
    print('Somthing else')

In [104]:
for i in range(6):
    pass

In [102]:
print(i)

5

# pass vs continue

In [109]:
# pass can be used in any indented block.
# continue can be used with the loops only.

# pass does not redirect the control.
# continue redirects the control to the next iteration.

In [119]:
a=10
b=15

if a==b:
    pass
else:
    print('Not equal')

Not equal

In [149]:
for i in range(6):
    if i%2==0:
        print(i,'even')
    else:
        continue
        print(i,'Not even')

0 even
2 even
4 even

In [151]:
for i in range(6):
    if i%2==0:
        print(i,'even')
    else:
        pass
        print(i,'Not even')

0 even
1 Not even
2 even
3 Not even
4 even
5 Not even

In [153]:
# Take a number from the user and print whether it is prime or not

In [155]:
# a=6
# 2,3,4,5

# a=7
# 2,3,4,5,6

In [222]:
a=5
for i in range(2,a):
    if a%i==0:
        print('Not a prime number')
        break
else:
    print('Prime number')

Prime number

In [220]:
5%4

1

In [238]:
a=61
c=0

for i in range(2,a):
    if a%i==0:
        c+=1

# print(c)
if c==0:
    print('Prime number')
else:
    print('Not a prime number')

Prime number

In [266]:
# Create a list that contains prime numbers between 1 and 100

prime=[]

for i in range(1,101):
    for j in range(2,i):
        if i%j==0:
            break
    else:
        prime.append(i)

In [264]:
print(prime)

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [268]:
# Create a list that contains prime numbers between 1 and 500

prime=[]

for i in range(1,501):
    for j in range(2,i):
        if i%j==0:
            break
    else:
        prime.append(i)

In [270]:
print(prime)

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499]

In [280]:
prime=[]

for i in range(1,101):
    c=0
    for j in range(2,i):
        if i%j==0:
            c+=1
            break
    
    if c!=0:
        pass
    else:
        prime.append(i)

print(prime)

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# List

In [308]:
# - A list is a collection of elements kept inside the [].
# - Each element of a list is seperated by a comma.
# - A list can heterogenous (different type) elements unlike array.
# - A list can contain duplicate elements unlike set and frozenset.

In [288]:
lst=[1,2,3,4,5]
print(lst,type(lst))

[1, 2, 3, 4, 5] <class 'list'>

In [294]:
lst=['Python', 66, True, 2.666666, 6+6j, {1:100,2:200}, None, (1,2,3)]
print(lst,type(lst))

['Python', 66, True, 2.666666, (6+6j), {1: 100, 2: 200}, None, (1, 2, 3)] <class 'list'>

In [298]:
import numpy as np

In [300]:
arr=np.array([10,20,30,40,50])

In [302]:
arr.dtype

dtype('int32')

In [304]:
arr=np.array([10,20,30.55,40,50])

In [306]:
arr.dtype

dtype('float64')

In [310]:
lst=[2,5,6,4,4,7,8,5,3,6,9,8,7,4,5,6,2,1,5]
print(lst,type(lst))

[2, 5, 6, 4, 4, 7, 8, 5, 3, 6, 9, 8, 7, 4, 5, 6, 2, 1, 5] <class 'list'>

In [312]:
s={2,5,6,4,4,7,8,5,3,6,9,8,7,4,5,6,2,1,5}
print(s,type(s))

{1, 2, 3, 4, 5, 6, 7, 8, 9} <class 'set'>

In [314]:
f=frozenset((2,5,6,4,4,7,8,5,3,6,9,8,7,4,5,6,2,1,5))
print(f,type(f))

frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9}) <class 'frozenset'>

# Operations on a list

In [317]:
# - Concatenation
# - Repeatition
# - Length
# - Indexing and slicing
# - Membership

# Concatenation

In [320]:
# - Joining two or more lists together is known as list concatenation.
# - + operator is used to concatenate two lists.
# - A list can be concatenated with a list only.
# - If we concatenate a list with some other type then it raises type error.

In [326]:
x=[1,2]
y=[4,6,8]
print(x+y)
print(x)
print(y)

[1, 2, 4, 6, 8]
[1, 2]
[4, 6, 8]

In [334]:
x=[1,2,3]
# Conctenate 5 to the above list.

res=x+[5]
print(res)

[1, 2, 3, 5]

In [352]:
[]+[5]+[2.4]+['Python']

[5, 2.4, 'Python']

In [370]:
name='Amit'
sur_name='Kumar'
full_name=[]

full_name=full_name+[name]
print(full_name)

full_name=full_name+[sur_name]
print(full_name)

['Amit']
['Amit', 'Kumar']

In [384]:
my_str='Peter piper picked a pack of pickeled peppers'

lst=[]
s=''

for i in my_str:
    if i!=' ':
        s+=i
    else:
        lst=lst+[s] # lst+=[s]
        s=''

lst=lst+[s] # lst+=[s]
print(lst)

['Peter', 'piper', 'picked', 'a', 'pack', 'of', 'pickeled', 'peppers']

# Repeatition

In [387]:
# - * operator is used to repeat a list n times.

In [391]:
# lst*number_of_repeatition

In [393]:
lst=[10,20,30,40,50]
print(lst*3)

[10, 20, 30, 40, 50, 10, 20, 30, 40, 50, 10, 20, 30, 40, 50]

In [402]:
res=[]
for i in lst:
    res+=[i+5]
print(res)

[15, 25, 35, 45, 55]

# Length of a list

In [404]:
# - The number of elements in a list is known as the length of the list.
# - len() returns the length of the list.

In [408]:
lst=['Python', 66, True, 2.666666, 6+6j, {1:100,2:200}, None, (1,2,3)]
print(lst,type(lst))
print(len(lst))

['Python', 66, True, 2.666666, (6+6j), {1: 100, 2: 200}, None, (1, 2, 3)] <class 'list'>
8

In [410]:
lst=[10,20,30,40,50,60,70,80,90]
print(len(lst))

9

# Indexing and Slicing

### Indexing

In [414]:
# - A list is an ordered collection of data each element of a list is stored at a particular index.
# - A list is also known as sequence type as it follows indexing.
# - A list supports positive and negative indexing both.

In [424]:
lst=[10,20,30,40,50,60,70,80]

# First element
print(lst[0])
print(lst[-8])
print(lst[-len(lst)])

10
10
10

In [422]:
-len(lst)

-8

In [436]:
lst=[10,20,30,40,50,60,70,80]

# Last element

print(lst[-1])
print(lst[7])
print(lst[len(lst)-1])

80
80
80

In [434]:
len(lst)-1

7

In [438]:
lst=[10,20,30,40,50,60,70,80]

print(lst[-12])

IndexError: list index out of range

In [440]:
lst=[10,20,30,40,50,60,70,80]

print(lst[11])

IndexError: list index out of range

### Slicing

In [443]:
# - To fetch a sublist from a list is known as list slicing.

In [445]:
# [start:stop:step]
# stop is excluded
# step is 1 by default

In [449]:
lst=[10,20,30,40,50,60,70,80]

# First three elements
print(lst[0:3])
print(lst[0:3:1])

[10, 20, 30]
[10, 20, 30]

In [451]:
# Reverse the list

print(lst[::-1])

[80, 70, 60, 50, 40, 30, 20, 10]

### When the step is +ive

In [454]:
# - The default start is 0
# - The default stop is len(lst)

### When the step is -ive

In [457]:
# The default start is -1
# The default stop is -len(lst)-1

In [465]:
lst=[10,20,30,40,50,60,70,80]

print(lst[0:len(lst):1])
print(lst[:len(lst):1])
print(lst[0::1])
print(lst[::])

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 20, 30, 40, 50, 60, 70, 80]
[10, 20, 30, 40, 50, 60, 70, 80]
[10, 20, 30, 40, 50, 60, 70, 80]

In [473]:
lst=[10,20,30,40,50,60,70,80]

print(lst[-1:-len(lst)-1:-1])
print(lst[:-len(lst)-1:-1])
print(lst[-1::-1])
print(lst[::-1])

[80, 70, 60, 50, 40, 30, 20, 10]
[80, 70, 60, 50, 40, 30, 20, 10]
[80, 70, 60, 50, 40, 30, 20, 10]
[80, 70, 60, 50, 40, 30, 20, 10]

In [477]:
lst=[10,20,30,40,50,60,70,80]

print(lst[0:-3:1])
print(lst[:-3])

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]

In [481]:
lst=[10,20,30,40,50,60,70,80]

print(lst[-6:-2:1])
print(lst[-6:-2])

[30, 40, 50, 60]
[30, 40, 50, 60]

In [483]:
lst=[10,20,30,40,50,60,70,80]

print(lst[:-4:-1])

[80, 70, 60]

In [485]:
lst=[10,20,30,40,50,60,70,80]

print(lst[-4::-1])

[50, 40, 30, 20, 10]

In [487]:
lst=[10,20,30,40,50,60,70,80]

print(lst[:-4:2])

[10, 30]

In [491]:
lst=[10,20,30,40,50,60,70,80]

print(lst[-2:-4:])

[]

In [493]:
lst=[10,20,30,40,50,60,70,80]

print(lst[-6:-2:-1])

[]

In [517]:
lst=[10,20,30,[1,2,3,4],40,50,60]

# Fetch 2
print(lst[3][1])

# Fetch 4
print(lst[3][-1])
print(lst[3][3])

2
4
4

# Memebership

In [520]:
# Since list is a container type so we can membership operators with a list.

In [532]:
lst=['Hello','Python', 55, 4.8888888, {1:100,2:200}, True, (1,2,3,4,5)]

print('Python' in lst)
print(3 in lst)

print(1000 not in lst)
print(55 not in lst)

True
False
True
False

# How to create a list?

# Case_1
- When we already know the elements

In [534]:
lst=['Python', 55, 6.66666, 4+8j, (1,2,3,4,5,6),[7,8,9,4,5],{1:100,2:200},True, None]
print(lst)

['Python', 55, 6.66666, (4+8j), (1, 2, 3, 4, 5, 6), [7, 8, 9, 4, 5], {1: 100, 2: 200}, True, None]

# Case_2
- By using list()

In [539]:
# list(Iterable)- It returns a list (Typecasting)

# Iterables- String, List, Tuple, Dictionary, Set, Frozenset, Range

In [545]:
list(range(1,5))

[1, 2, 3, 4]

In [547]:
my_str='Python'
print(my_str,type(my_str))

lst=list(my_str)
print(lst,type(lst))

Python <class 'str'>
['P', 'y', 't', 'h', 'o', 'n'] <class 'list'>

In [553]:
t=(10,20,20,40,50,60,60,70,80)
print(t,type(t))

lst=list(t)
print(lst,type(lst))

(10, 20, 20, 40, 50, 60, 60, 70, 80) <class 'tuple'>
[10, 20, 20, 40, 50, 60, 60, 70, 80] <class 'list'>

In [559]:
d={1:100,2:200,3:300,4:400}
print(d,type(d))

lst=list(d)
print(lst)

lst=list(d.values())
print(lst,type(lst))

{1: 100, 2: 200, 3: 300, 4: 400} <class 'dict'>
[1, 2, 3, 4]
[100, 200, 300, 400] <class 'list'>

In [567]:
emp={'Name':'Amit','Age':25,'City':'Pune','Company':'TCS'}
print(emp,type(emp))

keys=list(emp)
print(keys,type(keys))

values=list(emp.values())
print(lst,type(lst))

{'Name': 'Amit', 'Age': 25, 'City': 'Pune', 'Company': 'TCS'} <class 'dict'>
['Name', 'Age', 'City', 'Company'] <class 'list'>
[100, 200, 300, 400] <class 'list'>

In [573]:
s={1,2,3,4,8,9,5,2,2}
print(s,type(s))

lst=list(s)
print(lst,type(lst))

{1, 2, 3, 4, 5, 8, 9} <class 'set'>
[1, 2, 3, 4, 5, 8, 9] <class 'list'>

In [577]:
f=frozenset((1,4,5,7,8,4,5,5,5,6,5,7,8,5,2))
print(f,type(f))

lst=list(f)
print(lst,type(lst))

frozenset({1, 2, 4, 5, 6, 7, 8}) <class 'frozenset'>
[1, 2, 4, 5, 6, 7, 8] <class 'list'>

In [581]:
r=range(1,6)
print(r,type(r))

lst=list(r)
print(lst,type(lst))

range(1, 6) <class 'range'>
[1, 2, 3, 4, 5] <class 'list'>

In [585]:
lst=list(range(10))
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [587]:
list(5)

TypeError: 'int' object is not iterable

In [589]:
list(2.8)

TypeError: 'float' object is not iterable

In [591]:
list(5+6j)

TypeError: 'complex' object is not iterable

In [593]:
list(True)

TypeError: 'bool' object is not iterable

In [595]:
list(None)

TypeError: 'NoneType' object is not iterable

In [597]:
# We can pass enumerate, zip, filter and map object also inside the list()

# enumerate()

In [610]:
# - It takes an iterable as an argument.
# - It maps the elements of the iterable with the numbers from 0 to len(iterable)-1
# - It returns an enumerate object.
# - When we pass the enumerate object to list() we get a list of tuples.

In [608]:
e=enumerate('Python')
print(e,type(e))

lst=list(e)
print(lst,type(lst))

<enumerate object at 0x0000020ADEC8D710> <class 'enumerate'>
[(0, 'P'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n')] <class 'list'>

In [616]:
lst=list(enumerate(['Amit','Suresh','Mohit','Gagan']))
print(lst,type(lst))

[(0, 'Amit'), (1, 'Suresh'), (2, 'Mohit'), (3, 'Gagan')] <class 'list'>

# zip()

In [619]:
# - It maps the elements of two or more iterables.
# - It returns a zip object.
# - We can pass zip object to list() and we get a list of tuples.

In [629]:
codes=['emp_1','emp_2','emp_3','emp_4']
names=['Amit','Suresh','Mohit','Gagan']

z=zip(codes,names)
print(z,type(z))

lst=list(z)
print(lst,type(lst))

<zip object at 0x0000020ADEABF800> <class 'zip'>
[('emp_1', 'Amit'), ('emp_2', 'Suresh'), ('emp_3', 'Mohit'), ('emp_4', 'Gagan')] <class 'list'>

In [637]:
list(zip('abcd',[10,20,30],(1000,2000)))

[('a', 10, 1000), ('b', 20, 2000)]