# Conditional Statements

In [1]:
# The condtional statements are used to execute ornot to execute a piece of code on the basis of some condition.

In [2]:
# if statement

# if....else statement

# Multiple if statements

# if.....elif.....else statement

# Nested if statement

# Ternary operator

# if Statement

In [ ]:
if condition:
    code_1
    code_2

In [3]:
# When the if condition is True then the code inside the if block gets executed.
# When the if condition is False then the code inside the if block does not gets executed.

In [5]:
if 2==2:
    print('Hello Python')

Hello Python

In [4]:
2==2

True

In [6]:
if 2==6:
    print('Hello')

In [10]:
if 2==2:
    print('Hello Python')
    print('We are learning Data Science')
print('Thanks')

Hello Python
We are learning Data Science
Thanks

In [9]:
if 2==6:
    print('Hello Python')
    print('We are learning Data Science')
print('Thanks')

Thanks

# if....else....statement

In [ ]:
if condition:
    code_1
    code_2
    .
    .
    code_n
else:
    code_3
    code_4
    .
    .
    code_n

In [11]:
# When the if condition id True then the if block gets executed.
# When the if condition is False then else block gets executed.

In [12]:
if 2==2:
    print('We are inside the if block')
    print('Hello Python')
else:
    print('We are inside the else block')
    print('Thanks')

We are inside the if block
Hello Python

In [13]:
if 2==4:
    print('We are inside the if block')
    print('Hello Python')
else:
    print('We are inside the else block')
    print('Thanks')

We are inside the else block
Thanks

In [6]:
# Take a number from the user and check whether it is even or odd.

a=int(input('Enter a number- '))

if a%2==0:
    print(f'{a} is even')
else:
    print(f'{a} is odd')

54 is even

In [4]:
5%2==0

False

In [17]:
5%2

1

In [12]:
# Take two numbers from the user and print the maximum number.

a=100
b=65

if a>b:
    print(f'{a} is maximum')
else:
    print(f'{b} is maximum')

100 is maximum

In [11]:
100>65

True

# Multiple if statements

In [ ]:
if condition:
    code
if condition:
    code
if condition:
    code
if condition:
    code
if condition:
    code
if condition:
    code

In [15]:
# Take a number from the user between 1 and 5
# If the input is 1 then it should print 'One' and so on.

In [18]:
a=1

if a==1:
    print('One')
if a==2:
    print('Two')
if a==3:
    print('Three')
if a==4:
    print('Four')
if a==5:
    print('Five')

One

# if....elif....else statement

In [ ]:
if condition:
    code_1
    code_2
elif condition:
    code_3
    code_4
else:
    code_5

In [20]:
# When if condition is True then if block gets executed and it does not check further.
# When if condition is False then the control goes to the elif condition and it will check elif condition.else
# Suppose elif condition is True then elif block will get executed.
# Suppose elif condition is False then else block will get executed.
# else block will get executed when all the conditions are False.

In [21]:
a=1

if a==1:
    print('One')
elif a==2:
    print('Two')
elif a==3:
    print('Three')
elif a==4:
    print('Four')
elif a==5:
    print('Five')
else:
    print('Invalid input')

One

# Nested if...else statements

In [22]:
# When we have an if statement within another if statement then we call it as nested if statement

In [ ]:
if condition:
    if condition:
        code_1
        code_2
    else:
        code_3
else:
    code_4

In [23]:
if 4==4:
    print('Outer if block')
    if 3==3:
        print('Inner if block')
    else:
        print('Inner else block')
else:
    print('Outer else block')

Outer if block
Inner if block

In [24]:
if 4==4:
    print('Outer if block')
    if 3==6:
        print('Inner if block')
    else:
        print('Inner else block')
else:
    print('Outer else block')

Outer if block
Inner else block

In [25]:
if 4==5:
    print('Outer if block')
    if 3==6:
        print('Inner if block')
    else:
        print('Inner else block')
else:
    print('Outer else block')

Outer else block

In [33]:
# Take a letter from the user and check whether it is a vowel or a consonant.

char='5'

if char in 'AEIOUaeiou':
    print('Vowel')
else:
    print('Consonant')

Consonant

In [32]:
'5' in 'AEIOUaeiou'

False

In [42]:
char='I'

if char.isalpha():
    if char in 'AEIOUaeiou':
        print('Vowel')
    else:
        print('Consonant')
else:
    print('Pass an alphabet only')

Vowel

In [40]:
'k'.isalpha()

True

In [44]:
# Take two numbers and print the maximum or equal if equal

In [47]:
a=12
b=12

if a>b:
    print(f'{a} is maximum')
elif b>a:
    print(f'{b} is maximum')
else:
    print(f'{a} and {b} are equal')

12 and 12 are equal

In [62]:
# Maximum of three numbers

a=10
b=15
c=30

if a>b and a>c:
    print(f'{a} is maximum')
elif b>a and b>c:
    print(f'{b} is maximum')
else:
    print(f'{c} is maximum')

30 is maximum

In [54]:
10>15 and  10>3

False

In [56]:
15>10 and 15>3

True

In [59]:
10>15 and 10>30

False

In [61]:
15>10 and 15>30

False

# Ternary Operator

In [64]:
# - It is a substitute to if....else statement.
# - It is a one-liner code to implement if...else statement.
# - Weherever we have to pass a conditional statement in a single line, we use ternary operator.

In [65]:
# exp_1 if condition else exp_2

In [66]:
# When the if condition is True then exp_1 will get executed.
# When the if condition is False then exp_2 will get executed.

In [68]:
# Even or odd

num=41

print('Even') if num%2==0 else print('Odd')

Odd

In [69]:
# exp_1 if condition else exp_2  if condition else exp_3 if condition else exp_4

In [76]:
# Maximum of three numbers

a=10
b=15
c=30

print(a) if a>b and a>c else print(b) if b>a and b>c else print(c)

30

# Loops

In [78]:
# Print your name 5 times

print('Ashish')
print('Ashish')
print('Ashish')
print('Ashish')
print('Ashish')

Ashish
Ashish
Ashish
Ashish
Ashish

In [82]:
for i in range(5):
    print('Ashish')

Ashish
Ashish
Ashish
Ashish
Ashish

In [83]:
# - When we want to repeat a piece of code n times then we can use loop.
# - Loop is used to execute a piece of code repeatedly.

# Type of loops

In [84]:
# - 1- for Loop
# - 2- while loop

# for loop

In [86]:
# - for loops are applied on the iterables only.
# - for loop traverses upon the elements of an iterable element by element from the beginning to the end.

# Iterables- String, List, Tuple, Dictionary, Set, Frozenset, Range

### Syntax

In [ ]:
for positioner in iterable:
    code
    code

In [89]:
my_str='Python'
print(my_str,type(my_str))

for i in my_str:
    print(i)

Python <class 'str'>
P
y
t
h
o
n

In [90]:
lst=[10,20,30,40,50]

for i in lst:
    print(i)

10
20
30
40
50

In [91]:
t=(True, 'Python', 5+6j, False, 6000, None, 2.8888)

for x in t:
    print(x)

True
Python
(5+6j)
False
6000
None
2.8888

In [95]:
t=(True, 'Python', 5+6j, False, 6000, None, 2.8888)

# Print all the elements of the tuple and their type.

for i in t:
    print(i,type(i))

True <class 'bool'>
Python <class 'str'>
(5+6j) <class 'complex'>
False <class 'bool'>
6000 <class 'int'>
None <class 'NoneType'>
2.8888 <class 'float'>

In [96]:
d={1:100,2:200,3:300,4:400}

for i in d:
    print(i)

1
2
3
4

In [97]:
d={1:100,2:200,3:300,4:400}

for i in d.values():
    print(i)

100
200
300
400

In [99]:
s={10,20,30,40,50}
print(s)

for i in s:
    print(i)

{50, 20, 40, 10, 30}
50
20
40
10
30

In [101]:
f=frozenset([10,20,30,40,50,60])
print(f)

for i in f:
    print(i)

frozenset({40, 10, 50, 20, 60, 30})
40
10
50
20
60
30

In [103]:
for i in range(1,11,1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [104]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [106]:
a=10
print(a,type(a))

for i in a:
    print(i)

10 <class 'int'>

TypeError: 'int' object is not iterable

In [107]:
for i in 2.5:
    print(i)

TypeError: 'float' object is not iterable

In [108]:
for i in 5+5j:
    print(i)

TypeError: 'complex' object is not iterable

In [113]:
my_str='Python' # indexes- [0,1,2,3,4,5]

# Print all the elements along with their indexes.
print(0,my_str[0])
print(1,my_str[1])
print(2,my_str[2])
print(3,my_str[3])
print(4,my_str[4])
print(5,my_str[5])

0 P
1 y
2 t
3 h
4 o
5 n

In [117]:
my_str='Python' # indexes- [0,1,2,3,4,5]

# Print all the elements along with their indexes.

for i in range(6):
    print(i,my_str[i])

0 P
1 y
2 t
3 h
4 o
5 n

In [118]:
len(my_str)

6

In [120]:
for i in range(len(my_str)):
    print(i,my_str[i])

0 P
1 y
2 t
3 h
4 o
5 n

In [123]:
# Reversing using loop

my_str='Python'

# Indexes in reverse order -> [5,4,3,2,1,0] or [-1,-2,-3,-4,-5,-6]

print(my_str[5])
print(my_str[4])
print(my_str[3])
print(my_str[2])
print(my_str[1])
print(my_str[0])

n
o
h
t
y
P

In [126]:
for i in range(5,-1,-1):
    print(my_str[i])

n
o
h
t
y
P

In [128]:
len(my_str)-1

5

In [130]:
for i in range(len(my_str)-1,-1,-1):
    print(i,my_str[i])

5 n
4 o
3 h
2 t
1 y
0 P

In [133]:
print(my_str[-1])
print(my_str[-2])
print(my_str[-3])
print(my_str[-4])
print(my_str[-5])
print(my_str[-6])

n
o
h
t
y
P

In [136]:
for i in range(-1,-7,-1):
    print(i,my_str[i])

-1 n
-2 o
-3 h
-4 t
-5 y
-6 P

In [144]:
-len(my_str)-1

-7

In [147]:
for i in range(-1,-len(my_str)-1,-1):
    print(i,my_str[i])

-1 n
-2 o
-3 h
-4 t
-5 y
-6 P

In [153]:
lst=[10,12,15,16,18,20,14,26,31,47,52,65]

# Get the values from the above list that are avaliable at the odd index also print the indexes.

print(lst[1::2])

for i in range(1,len(lst),2):
    print(i,lst[i])

[12, 16, 20, 26, 47, 65]
1 12
3 16
5 20
7 26
9 47
11 65

In [157]:
for i in range(len(lst)):
    if i%2!=0:
        print(i,lst[i])

1 12
3 16
5 20
7 26
9 47
11 65

In [170]:
my_str='We are learning Python programming'

# Get all the vowels from the above string and store them in a string.
s=''

for i in my_str:
    if i in 'AEIOUaeiou':
        s=s+i
print(s)

eaeeaiooai

In [165]:
i=' '
i in 'AEIOUaeiou'

False

In [182]:
# Get the addition of the numbers from 1 to 10
s=0

for i in range(1,11):
    s=s+i
print(s)

55

In [179]:
s=0
print(s)

i=1
s=s+i # 0+1
print(s)

i=2
s=s+i # 1+2
print(s)

i=3
s=s+i # 3+3
print(s)

i=4
s=s+i # 6+4
print(s)

0
1
3
6
10

In [191]:
# Get the multiplication of the numbers from 1 to 5
m=1
for i in range(1,6):
    m=m*i
print(m)

120

In [189]:
m=1

i=1
m=m*i
print(m)

i=2
m=m*i # 1*2
print(m)

i=3
m=m*3 # 2*3
print(m)

i=4
m=m*i
print(m) # 6*4

i=5
m=m*i # 24*5
print(m)

1
2
6
24
120

In [200]:
# Factorial of any number-

# 5!= 5*4*3*2*1*1

num=8
f=1

for i in range(1,num+1):
    f=f*i
print(f)

40320

In [201]:
8*7*6*5*4*3*2*1

40320

In [206]:
num=8
f=1
for i in range(num,0,-1):
    f=f*i
print(f)

40320

In [213]:
# Fibonnici series

# 0,1,1,2,3,5,8,13,21,34,55........


# Print the Fibonnici series upto 11 digits.

a=0
b=1

for i in range(9):
    s=a+b
    a=b
    b=s
    print(s)

1
2
3
5
8
13
21
34
55

In [218]:
my_str='Peter piper picked a pack of pickeled peppers'

# Output-['We', 'are', 'learning', 'Python', 'programming'] using loop

In [216]:
# 'P'
# 'Pe'
# 'Pet'
# 'Pete'
# 'Peter'
# space
# ['Peter']

# 'p'
# 'pi'
# 'pip'
# 'pipe'
# 'piper'
# space
# ['Peter','piper']

In [243]:
my_str='Peter piper picked a pack of pickeled peppers'

lst=[]
s=''
for i in my_str:
    if i!=' ':
        s+=i
    else:
        lst.append(s)
        # print(lst)
        s=''

print(s)
lst.append(s)
print(lst)

peppers
['Peter', 'piper', 'picked', 'a', 'pack', 'of', 'pickeled', 'peppers']

In [224]:
lst=[]
print(lst)

lst.append(10)
print(lst)

lst.append('Peter')
print(lst)

[]
[10]
[10, 'Peter']

In [237]:
lst=[]
s='P'
s='Pe'
s='Pet'
s='Pete'
s='Peter'
lst.append(s)
print(lst)
s=''

s+='p'
print(s)
s+='i'
print(s)
s+='p'
print(s)
s+='e'
print(s)
s+='r'
print(s)
lst.append(s)
print(lst)
s=''

s+='p'
print(s)
s+='i'
print(s)

['Peter']
p
pi
pip
pipe
piper
['Peter', 'piper']
p
pi

In [247]:
my_str='Peter piper picked a pack of pickeled peppers'

# Output- ['peppers', 'pickeled', 'of', 'pack', 'a', 'picked', 'piper', 'Peter']

# Approach- Convert the string to the list word by word ->
#   ['Peter', 'piper', 'picked', 'a', 'pack', 'of', 'pickeled', 'peppers']

# Reverse the list

In [253]:
my_str='Peter piper picked a pack of pickeled peppers'
lst=[]
s=''

for i in my_str:
    if i!=' ':
        s+=i
    else:
        lst.append(s)
        s=''
lst.append(s)
print(lst)
##################################################

res=[]
for i in range(len(lst)-1,-1,-1):
    res.append(lst[i])
print(res)

['Peter', 'piper', 'picked', 'a', 'pack', 'of', 'pickeled', 'peppers']
['peppers', 'pickeled', 'of', 'pack', 'a', 'picked', 'piper', 'Peter']

In [260]:
res=[]
print(lst)
i=7
res.append(lst[i])
print(res)

i=6
res.append(lst[i])
print(res)

['Peter', 'piper', 'picked', 'a', 'pack', 'of', 'pickeled', 'peppers']
['peppers']
['peppers', 'pickeled']

In [274]:
my_str='Peter piper picked a pack of pickeled peppers'
# Output- 'peppers pickeled of pack a picked piper Peter'

# Approach- Convert the string to the list.
# Reverse the list and store in a string.

lst=[]
s=''

for i in my_str:
    if i!=' ':
        s+=i
    else:
        lst.append(s)
        s=''
lst.append(s)
print(lst)

##################################################
s=''

for i in range(len(lst)-1,-1,-1):
    s+=lst[i]
    
    if i!=0:
        s+=' '

s

['Peter', 'piper', 'picked', 'a', 'pack', 'of', 'pickeled', 'peppers']

'peppers pickeled of pack a picked piper Peter'

In [277]:
for i in range(len(lst)-1,-1,-1):
    print(i,lst[i])

7 peppers
6 pickeled
5 of
4 pack
3 a
2 picked
1 piper
0 Peter

In [281]:
# PF-1 (Assignment) Class-1 (Introduction)- Assignemnt - pdf of 10 questions
# MCQ- 20 (Quiz)- Practice

In [2]:
print('Hello')

Hello

print('Hello')

# Hello

In [5]:
!pip install notebook

Requirement already satisfied: notebook in c:\users\ashis\anaconda3\lib\site-packages (7.2.1)
Requirement already satisfied: jupyter-server<3,>=2.4.0 in c:\users\ashis\anaconda3\lib\site-packages (from notebook) (2.14.1)
Requirement already satisfied: jupyterlab-server<3,>=2.27.1 in c:\users\ashis\anaconda3\lib\site-packages (from notebook) (2.27.2)
Requirement already satisfied: jupyterlab<4.3,>=4.2.0 in c:\users\ashis\anaconda3\lib\site-packages (from notebook) (4.2.2)
Requirement already satisfied: notebook-shim<0.3,>=0.2 in c:\users\ashis\anaconda3\lib\site-packages (from notebook) (0.2.2)
Requirement already satisfied: tornado>=6.2.0 in c:\users\ashis\anaconda3\lib\site-packages (from notebook) (6.3.2)
Requirement already satisfied: anyio>=3.1.0 in c:\users\ashis\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook) (3.5.0)
Requirement already satisfied: argon2-cffi>=21.1 in c:\users\ashis\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook) (21.3.0)
Requirement already satisfied: jinja2>=3.0.3 in c:\users\ashis\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook) (3.1.2)
Requirement already satisfied: jupyter-client>=7.4.4 in c:\users\ashis\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook) (7.4.9)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in c:\users\ashis\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook) (5.3.0)
Requirement already satisfied: jupyter-events>=0.9.0 in c:\users\ashis\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook) (0.10.0)
Requirement already satisfied: jupyter-server-terminals>=0.4.4 in c:\users\ashis\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook) (0.5.3)
Requirement already satisfied: nbconvert>=6.4.4 in c:\users\ashis\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook) (6.5.4)
Requirement already satisfied: nbformat>=5.3.0 in c:\users\ashis\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook) (5.7.0)
Requirement already satisfied: overrides>=5.0 in c:\users\ashis\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook) (7.7.0)
Requirement already satisfied: packaging>=22.0 in c:\users\ashis\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook) (23.0)
Requirement already satisfied: prometheus-client>=0.9 in c:\users\ashis\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook) (0.14.1)
Requirement already satisfied: pywinpty>=2.0.1 in c:\users\ashis\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook) (2.0.10)
Requirement already satisfied: pyzmq>=24 in c:\users\ashis\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook) (26.0.3)
Requirement already satisfied: send2trash>=1.8.2 in c:\users\ashis\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook) (1.8.3)
Requirement already satisfied: terminado>=0.8.3 in c:\users\ashis\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook) (0.17.1)
Requirement already satisfied: traitlets>=5.6.0 in c:\users\ashis\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook) (5.7.1)
Requirement already satisfied: websocket-client>=1.7 in c:\users\ashis\anaconda3\lib\site-packages (from jupyter-server<3,>=2.4.0->notebook) (1.8.0)
Requirement already satisfied: async-lru>=1.0.0 in c:\users\ashis\anaconda3\lib\site-packages (from jupyterlab<4.3,>=4.2.0->notebook) (2.0.4)
Requirement already satisfied: httpx>=0.25.0 in c:\users\ashis\anaconda3\lib\site-packages (from jupyterlab<4.3,>=4.2.0->notebook) (0.27.0)
Requirement already satisfied: ipykernel>=6.5.0 in c:\users\ashis\anaconda3\lib\site-packages (from jupyterlab<4.3,>=4.2.0->notebook) (6.19.2)
Requirement already satisfied: jupyter-lsp>=2.0.0 in c:\users\ashis\anaconda3\lib\site-packages (from jupyterlab<4.3,>=4.2.0->notebook) (2.2.5)
Requirement already satisfied: setuptools>=40.1.0 in c:\users\ashis\anaconda3\lib\site-packages (from jupyterlab<4.3,>=4.2.0->notebook) (68.0.0)
Requirement already satisfied: babel>=2.10 in c:\users\ashis\anaconda3\lib\site-packages (from jupyterlab-server<3,>=2.27.1->notebook) (2.11.0)
Requirement already satisfied: json5>=0.9.0 in c:\users\ashis\anaconda3\lib\site-packages (from jupyterlab-server<3,>=2.27.1->notebook) (0.9.6)
Requirement already satisfied: jsonschema>=4.18.0 in c:\users\ashis\anaconda3\lib\site-packages (from jupyterlab-server<3,>=2.27.1->notebook) (4.22.0)
Requirement already satisfied: requests>=2.31 in c:\users\ashis\anaconda3\lib\site-packages (from jupyterlab-server<3,>=2.27.1->notebook) (2.31.0)
Requirement already satisfied: idna>=2.8 in c:\users\ashis\anaconda3\lib\site-packages (from anyio>=3.1.0->jupyter-server<3,>=2.4.0->notebook) (3.4)
Requirement already satisfied: sniffio>=1.1 in c:\users\ashis\anaconda3\lib\site-packages (from anyio>=3.1.0->jupyter-server<3,>=2.4.0->notebook) (1.2.0)
Requirement already satisfied: argon2-cffi-bindings in c:\users\ashis\anaconda3\lib\site-packages (from argon2-cffi>=21.1->jupyter-server<3,>=2.4.0->notebook) (21.2.0)
Requirement already satisfied: pytz>=2015.7 in c:\users\ashis\anaconda3\lib\site-packages (from babel>=2.10->jupyterlab-server<3,>=2.27.1->notebook) (2022.7)
Requirement already satisfied: certifi in c:\users\ashis\anaconda3\lib\site-packages (from httpx>=0.25.0->jupyterlab<4.3,>=4.2.0->notebook) (2024.6.2)
Requirement already satisfied: httpcore==1.* in c:\users\ashis\anaconda3\lib\site-packages (from httpx>=0.25.0->jupyterlab<4.3,>=4.2.0->notebook) (1.0.5)
Requirement already satisfied: h11<0.15,>=0.13 in c:\users\ashis\anaconda3\lib\site-packages (from httpcore==1.*->httpx>=0.25.0->jupyterlab<4.3,>=4.2.0->notebook) (0.14.0)
Requirement already satisfied: comm>=0.1.1 in c:\users\ashis\anaconda3\lib\site-packages (from ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook) (0.1.2)
Requirement already satisfied: debugpy>=1.0 in c:\users\ashis\anaconda3\lib\site-packages (from ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook) (1.6.7)
Requirement already satisfied: ipython>=7.23.1 in c:\users\ashis\anaconda3\lib\site-packages (from ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook) (8.12.0)
Requirement already satisfied: matplotlib-inline>=0.1 in c:\users\ashis\anaconda3\lib\site-packages (from ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook) (0.1.6)
Requirement already satisfied: nest-asyncio in c:\users\ashis\anaconda3\lib\site-packages (from ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook) (1.5.6)
Requirement already satisfied: psutil in c:\users\ashis\anaconda3\lib\site-packages (from ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook) (5.9.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\ashis\anaconda3\lib\site-packages (from jinja2>=3.0.3->jupyter-server<3,>=2.4.0->notebook) (2.1.1)
Requirement already satisfied: attrs>=22.2.0 in c:\users\ashis\anaconda3\lib\site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->notebook) (23.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\ashis\anaconda3\lib\site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->notebook) (2023.12.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\ashis\anaconda3\lib\site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->notebook) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\ashis\anaconda3\lib\site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->notebook) (0.18.1)
Requirement already satisfied: entrypoints in c:\users\ashis\anaconda3\lib\site-packages (from jupyter-client>=7.4.4->jupyter-server<3,>=2.4.0->notebook) (0.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ashis\anaconda3\lib\site-packages (from jupyter-client>=7.4.4->jupyter-server<3,>=2.4.0->notebook) (2.8.2)
Requirement already satisfied: platformdirs>=2.5 in c:\users\ashis\anaconda3\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->jupyter-server<3,>=2.4.0->notebook) (2.5.2)
Requirement already satisfied: pywin32>=300 in c:\users\ashis\anaconda3\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->jupyter-server<3,>=2.4.0->notebook) (305.1)
Requirement already satisfied: python-json-logger>=2.0.4 in c:\users\ashis\anaconda3\lib\site-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook) (2.0.7)
Requirement already satisfied: pyyaml>=5.3 in c:\users\ashis\anaconda3\lib\site-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook) (6.0)
Requirement already satisfied: rfc3339-validator in c:\users\ashis\anaconda3\lib\site-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook) (0.1.4)
Requirement already satisfied: rfc3986-validator>=0.1.1 in c:\users\ashis\anaconda3\lib\site-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook) (0.1.1)
Requirement already satisfied: lxml in c:\users\ashis\anaconda3\lib\site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook) (4.9.2)
Requirement already satisfied: beautifulsoup4 in c:\users\ashis\anaconda3\lib\site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook) (4.12.2)
Requirement already satisfied: bleach in c:\users\ashis\anaconda3\lib\site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook) (4.1.0)
Requirement already satisfied: defusedxml in c:\users\ashis\anaconda3\lib\site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook) (0.7.1)
Requirement already satisfied: jupyterlab-pygments in c:\users\ashis\anaconda3\lib\site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook) (0.1.2)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\ashis\anaconda3\lib\site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook) (0.8.4)
Requirement already satisfied: nbclient>=0.5.0 in c:\users\ashis\anaconda3\lib\site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook) (0.5.13)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\ashis\anaconda3\lib\site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook) (1.5.0)
Requirement already satisfied: pygments>=2.4.1 in c:\users\ashis\anaconda3\lib\site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook) (2.15.1)
Requirement already satisfied: tinycss2 in c:\users\ashis\anaconda3\lib\site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook) (1.2.1)
Requirement already satisfied: fastjsonschema in c:\users\ashis\anaconda3\lib\site-packages (from nbformat>=5.3.0->jupyter-server<3,>=2.4.0->notebook) (2.16.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\ashis\anaconda3\lib\site-packages (from requests>=2.31->jupyterlab-server<3,>=2.27.1->notebook) (2.0.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\ashis\anaconda3\lib\site-packages (from requests>=2.31->jupyterlab-server<3,>=2.27.1->notebook) (1.26.16)
Requirement already satisfied: backcall in c:\users\ashis\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook) (0.2.0)
Requirement already satisfied: decorator in c:\users\ashis\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\ashis\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook) (0.18.1)
Requirement already satisfied: pickleshare in c:\users\ashis\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\ashis\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook) (3.0.36)
Requirement already satisfied: stack-data in c:\users\ashis\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook) (0.2.0)
Requirement already satisfied: colorama in c:\users\ashis\anaconda3\lib\site-packages (from ipython>=7.23.1->ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook) (0.4.6)
Requirement already satisfied: fqdn in c:\users\ashis\anaconda3\lib\site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->notebook) (1.5.1)
Requirement already satisfied: isoduration in c:\users\ashis\anaconda3\lib\site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->notebook) (20.11.0)
Requirement already satisfied: jsonpointer>1.13 in c:\users\ashis\anaconda3\lib\site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->notebook) (2.1)
Requirement already satisfied: uri-template in c:\users\ashis\anaconda3\lib\site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->notebook) (1.3.0)
Requirement already satisfied: webcolors>=1.11 in c:\users\ashis\anaconda3\lib\site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->notebook) (24.6.0)
Requirement already satisfied: six>=1.5 in c:\users\ashis\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->jupyter-client>=7.4.4->jupyter-server<3,>=2.4.0->notebook) (1.16.0)
Requirement already satisfied: cffi>=1.0.1 in c:\users\ashis\anaconda3\lib\site-packages (from argon2-cffi-bindings->argon2-cffi>=21.1->jupyter-server<3,>=2.4.0->notebook) (1.15.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\ashis\anaconda3\lib\site-packages (from beautifulsoup4->nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook) (2.4)
Requirement already satisfied: webencodings in c:\users\ashis\anaconda3\lib\site-packages (from bleach->nbconvert>=6.4.4->jupyter-server<3,>=2.4.0->notebook) (0.5.1)
Requirement already satisfied: pycparser in c:\users\ashis\anaconda3\lib\site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi>=21.1->jupyter-server<3,>=2.4.0->notebook) (2.21)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\ashis\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=7.23.1->ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\ashis\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30->ipython>=7.23.1->ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook) (0.2.5)
Requirement already satisfied: arrow>=0.15.0 in c:\users\ashis\anaconda3\lib\site-packages (from isoduration->jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->notebook) (1.2.3)
Requirement already satisfied: executing in c:\users\ashis\anaconda3\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook) (0.8.3)
Requirement already satisfied: asttokens in c:\users\ashis\anaconda3\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\ashis\anaconda3\lib\site-packages (from stack-data->ipython>=7.23.1->ipykernel>=6.5.0->jupyterlab<4.3,>=4.2.0->notebook) (0.2.2)

WARNING: There was an error checking the latest version of pip.