# Data Type

In [1]:
# numbers (whole numbers, numbers with decimal), text, image etc.

In [2]:
# - It is a type classifier of any value (data)

# Types of datatypes

In [3]:
# - 1- Premetive (Basic) datatypes
# - 2- Derived datatypes

# Premetive Datatypes

# Integer - int

In [4]:
# - Any whole number is an integer number.
# - Any number whether +ive, -ive or 0 without a decimal point is an int value.

### type()

In [5]:
# - It returns the datatype of a value.

In [7]:
a=5
print(a)
print(type(a))

5
<class 'int'>

In [8]:
a=0
print(a,type(a))

0 <class 'int'>

In [9]:
a=-6
print(a,type(a))

-6 <class 'int'>

# Float - float

In [10]:
# - Any number whether +ive, -ive or 0 with a decimal point is a float value.

In [13]:
a=2.8
print(a,type(a))

2.8 <class 'float'>

In [14]:
a=0.0
print(a,type(a))

0.0 <class 'float'>

In [16]:
a=0.00004
print(a,type(a))

4e-05 <class 'float'>

In [17]:
a=-5.77777
print(a,type(a))

-5.77777 <class 'float'>

# Complex - complex

In [18]:
# - Any number in the form of a+bj is a complex value.
# - Here a is a real number and b is an imaginary number.

In [19]:
a=5+6j
print(a,type(a))

(5+6j) <class 'complex'>

In [21]:
print(a.real)

5.0

In [22]:
print(a.imag)

6.0

In [23]:
abs(a)

7.810249675906654

In [24]:
# Square root of a square + b square

In [26]:
(5**2+6**2)**.5

7.810249675906654

In [27]:
a=-5+2.5j
print(a,type(a))

(-5+2.5j) <class 'complex'>

In [28]:
a=0+0.2j
print(a,type(a))

0.2j <class 'complex'>

In [29]:
a=2J
print(a,type(a))

2j <class 'complex'>

In [33]:
# a=5+6l

# String - str

In [34]:
# Anything inside the '',"",'''''',"""""" is a string value.

In [36]:
a='5'
print(a,type(a))

5 <class 'str'>

In [37]:
a='Python class'
print(a,type(a))

Python class <class 'str'>

In [38]:
a="Python class"
print(a,type(a))

Python class <class 'str'>

In [39]:
# Output- Python's libraries

In [42]:
a="Python's class"
print(a,type(a))

Python's class <class 'str'>

In [46]:
# Output- This is "Python" class

a='This is "Python" class'
print(a,type(a))

This is "Python" class <class 'str'>

In [51]:
a='''Hello everyone!
I hope you are doing well!'''

print(a,type(a))

Hello everyone!
I hope you are doing well! <class 'str'>

In [52]:
a="""Hello everyone!
I hope you are doing well!"""

print(a,type(a))

Hello everyone!
I hope you are doing well! <class 'str'>

In [53]:
# Hello everyone!
# This is 'Pyhon class'

In [55]:
a="""Hello everyone!
This is 'Pyhon class'"""

print(a,type(a))

Hello everyone!
This is 'Pyhon class' <class 'str'>

In [56]:
# Hello everyone!
# This is "Pyhon class"

In [58]:
a='''Hello everyone!
This is "Pyhon class"'''

print(a,type(a))

Hello everyone!
This is "Pyhon class" <class 'str'>

# Boolean - bool

In [59]:
# True and False are the boolean values.

In [60]:
a=True
print(a,type(a))

True <class 'bool'>

In [61]:
a=False
print(a,type(a))

False <class 'bool'>

# NoneType

In [62]:
# - None is NoneType.
# - None is used to represent the missing value or null value in Python

In [63]:
a=None
print(a,type(a))

None <class 'NoneType'>

In [65]:
name='Nilesh'
age=24
code=None
salary=68000

In [69]:
print(name)
print(age)
print(code)
print(salary)

Nilesh
24
None
68000

# Derived Datatypes

In [71]:
# - These are the container types or data structures that are used to store multiple values in a specific fashion.

# List - list

In [72]:
# - Anything inside the [] is a list.
# - A list can contain multiple elements.
# - Each element in a list is seperated by a comma.

In [73]:
# 12,45,72,36,54
a=12
a=45
print(a)

45

In [74]:
a=[12,45,72,36,54]
print(a,type(a))

[12, 45, 72, 36, 54] <class 'list'>

In [75]:
emp_names=['Nilesh','Jayanth','Megha','Vaishnavi','Sumit']
print(emp_names,type(emp_names))

['Nilesh', 'Jayanth', 'Megha', 'Vaishnavi', 'Sumit'] <class 'list'>

In [77]:
a=[True, 'Python', 28, 6.444444, False, 5+6j, None]
print(a,type(a))

[True, 'Python', 28, 6.444444, False, (5+6j), None] <class 'list'>

# Tuple - tuple

In [78]:
# - Anything inside the () is a tuple.
# - A tuple can contain multiple elements.
# - Each element in a tuple is seperated by a comma.

In [83]:
a=(10,20,30,40,50,60,70,80)
print(a,type(a))

(10, 20, 30, 40, 50, 60, 70, 80) <class 'tuple'>

In [84]:
a=(True, False, 'Hello', 5+6j, [1,2,3,4], 55555, 2.888888, None)
print(a,type(a))

(True, False, 'Hello', (5+6j), [1, 2, 3, 4], 55555, 2.888888, None) <class 'tuple'>

# List vs Tuple

In [86]:
# List is mutable whereas Tuple is immutable.
# - Mutable- We can modify the elements.
# - Immutable- We can not modify the elements.

In [87]:
lst=[10,20,30,40,50]
print(lst,type(lst))

[10, 20, 30, 40, 50] <class 'list'>

In [88]:
print(lst[0])

10

In [89]:
print(lst[4])

50

In [90]:
lst[3]=True

In [91]:
print(lst)

[10, 20, 30, True, 50]

In [92]:
lst[0]=2000

In [93]:
print(lst)

[2000, 20, 30, True, 50]

In [94]:
t=(10,20,30,40,50)
print(t,type(t))

(10, 20, 30, 40, 50) <class 'tuple'>

In [95]:
print(t[0])

10

In [97]:
print(t[3])

40

In [98]:
t[3]=2000

TypeError: 'tuple' object does not support item assignment

# Dictionary - dict

In [99]:
# - It is a collection key:value pairs kept inside the {}.
# - Each key:value pair is seperated by comma.

In [100]:
a={1:100,2:200,3:300,4:400}
print(a,type(a))

{1: 100, 2: 200, 3: 300, 4: 400} <class 'dict'>

In [105]:
emp={'Name':'Unni','Age':26,'ID':111,'City':'Pune'}
print(emp,type(emp))

{'Name': 'Unni', 'Age': 26, 'ID': 111, 'City': 'Pune'} <class 'dict'>

In [103]:
# dict_name[key] -> value

In [113]:
print(emp['Name'])

Unni

In [108]:
print(emp['ID'])

111

In [109]:
print(emp['City'])

Pune

In [110]:
print(emp['Age'])

26

In [111]:
emp['Phone']

KeyError: 'Phone'

# Set - set

In [114]:
# - Anything inside the {} is a set.
# - Set does not allow duplicate elements.
# - Set stores the values in some random order.

In [115]:
s={1,2,3,4,5}
print(s,type(s))

{1, 2, 3, 4, 5} <class 'set'>

In [116]:
s={1,1,1,1,2,2,5,5,8,2,2,2,5,6,6,6,8}
print(s,type(s))

{1, 2, 5, 6, 8} <class 'set'>

In [117]:
s={True, 'Hello', 5+5j, None, 5000, 2.88888}
print(s,type(s))

{True, 2.88888, None, (5+5j), 5000, 'Hello'} <class 'set'>

# Frozenset - frozenset

In [119]:
# - When we pass any iterable inside the frozenset() then we get a fronzenset object.
# - Iterable- String, List, Tuple, Dictionary, Set, Frozenset, Range.
# - Frozenset does not allow the duplicate values.
# - Frozenset returns the values in some random order like set.

In [122]:
s='Python'
print(s,type(s))

f=frozenset(s)
print(f,type(f))

Python <class 'str'>
frozenset({'y', 'h', 't', 'o', 'P', 'n'}) <class 'frozenset'>

In [123]:
s='Hello'
print(s,type(s))

f=frozenset(s)
print(f,type(f))

Hello <class 'str'>
frozenset({'H', 'l', 'e', 'o'}) <class 'frozenset'>

In [127]:
lst=[2,5,4,8,6,2,4,7,8,5,3,2,1,4]
print(lst,type(lst))

f=frozenset(lst)
print(f,type(f))

[2, 5, 4, 8, 6, 2, 4, 7, 8, 5, 3, 2, 1, 4] <class 'list'>
frozenset({1, 2, 3, 4, 5, 6, 7, 8}) <class 'frozenset'>

# Set vs Frozenset

In [128]:
# Set is mutable whereas Frozenset is immutable.

In [133]:
s={1,2,3,4,5}
print(s,type(s))

s.add(42)
print(s)

s.remove(3)
print(s,type(s))

{1, 2, 3, 4, 5} <class 'set'>
{1, 2, 3, 4, 5, 42}
{1, 2, 4, 5, 42} <class 'set'>

In [139]:
f=frozenset([1,2,3,4,5])
print(f,type(f))

frozenset({1, 2, 3, 4, 5}) <class 'frozenset'>

# Range - range

In [140]:
# - range() returns the range object.
# - It is used to create the sequence of int numbers.

In [142]:
# range(start,stop,step)
# stop is excluded
# step is 1 by default

In [148]:
# Create a sequence of natural numbers from 1 to 10

r=range(1,11,1)
print(r,type(r))

lst=list(r)
print(lst)

range(1, 11) <class 'range'>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [144]:
# start+step=next value

In [149]:
# Create a sequence of natural numbers from 1 to 10

r=range(1,11)
print(r,type(r))

lst=list(r)
print(lst)

range(1, 11) <class 'range'>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [152]:
# Create a sequence of even numbers from 1 to 20

lst=list(range(2,21,2))
print(lst)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [157]:
# Create a sequence of numbers from 10 to 1

lst=list(range(10,0,-1))
print(lst)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [161]:
# [20,18,16,14,12,10]->9

lst=list(range(20,9,-2))
print(lst)

[20, 18, 16, 14, 12, 10]

In [162]:
# range(stop_value)
# - 0 to stop-1

In [163]:
lst=list(range(5))
print(lst)

[0, 1, 2, 3, 4]

In [164]:
lst=list(range(10))
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Typecasting

In [165]:
# - Changing the type of a value or object is known as typecasting.
# - There are many functions provided by Python that fecilitates typecasting.

# int()

In [166]:
# - It return an int value.
# - It typecasts to int.

In [170]:
a=2.888
print(a,type(a))

b=int(a)
print(b,type(b))

2.888 <class 'float'>
2 <class 'int'>

In [172]:
a='25'
print(a,type(a))

b=int(a)
print(b,type(b))

25 <class 'str'>
25 <class 'int'>

In [173]:
25+7

32

In [174]:
'25'+'7'

'257'

In [175]:
int('25')+int('7')

32

In [176]:
# When we typecast a string to int then string must contains digits only otherwise typecasting won't be possible.

In [177]:
int('abcd')

ValueError: invalid literal for int() with base 10: 'abcd'

In [180]:
int('4.5')

ValueError: invalid literal for int() with base 10: '4.5'

In [183]:
a=True
print(a,type(a))

b=int(a)
print(b,type(b))

True <class 'bool'>
1 <class 'int'>

In [185]:
a=False
print(a,type(a))

b=int(a)
print(b,type(b))

False <class 'bool'>
0 <class 'int'>

# float()

In [186]:
# - It returns a float value.
# - It typecasts to float value.

In [188]:
a=2
print(a,type(a))

b=float(a)
print(b,type(b))

2 <class 'int'>
2.0 <class 'float'>

In [191]:
a='45'
print(a,type(a))

b=float(a)
print(b,type(b))

45 <class 'str'>
45.0 <class 'float'>

In [195]:
a='4.8'
print(a,type(a))

b=float(a)
print(b,type(b))

4.8 <class 'str'>
4.8 <class 'float'>

In [198]:
int(float('4.8'))

4

In [201]:
a=True
print(a,type(a))

b=float(a)
print(b,type(b))

True <class 'bool'>
1.0 <class 'float'>

In [203]:
a=False
print(a,type(a))

b=float(a)
print(b,type(b))

False <class 'bool'>
0.0 <class 'float'>

# complex()

In [204]:
# - It returns a complex value.
# - It typecasts to complex.

In [205]:
# complex(a,b)
# a- real number
# b- imaginary number

# complex(a)
# a- real number
# 0- imaginary

In [206]:
a=complex(2,6)
print(a,type(a))

(2+6j) <class 'complex'>

In [207]:
a=complex(.4,-6)
print(a,type(a))

(0.4-6j) <class 'complex'>

In [208]:
a=complex(6)
print(a,type(a))

(6+0j) <class 'complex'>

# str()

In [209]:
# - It returns a string value.
# - It typecasts to string.

In [210]:
a=str(55)
a

'55'

In [211]:
a=str(55)
print(a,type(a))

55 <class 'str'>

In [212]:
a=str([1,2,3,4,5])
a

'[1, 2, 3, 4, 5]'

In [213]:
a=str([1,2,3,4,5])
print(a,type(a))

[1, 2, 3, 4, 5] <class 'str'>

In [214]:
a=str(4.5)
print(a,type(a))

4.5 <class 'str'>

In [215]:
str(4.5)

'4.5'

# bool()

In [217]:
# - It returns a boolean value (True / False)
# - It typecasts to bool

In [312]:
# int -> 0 is False else True

# float -> 0.0 is False else True

# complex -> 0+0j or 0j or 0.0+0.0j are False else True

# string-> '' or "" or '''''' or """""" is False else True

# None -> It is always False

# list-> [] is False else True

# tuple -> () is False else True

# dictionary or set -> {} is False else True

# frozenset -> frozenset() or frozenset(empty_iterable) is False else True

# range -> range() or range(0) or range()- returns no sequnece then False else True

In [222]:
print(bool(0))
print(bool(5))
print(bool(10))
print(bool(1))

False
True
True
True

In [230]:
print(bool(0.0))
print(bool(.0))
print(bool(0.000))
print(bool(0.000001))
print(bool(1.0))
print(bool(0.1))
print(bool(2.5))

False
False
False
True
True
True
True

In [240]:
print(bool(0+0j))
print(bool(0+0.0j))
print(bool(0j))
print(bool(0.0+0j))
print(bool(0.0+0.0j))
print(bool(0+1j))
print(bool(1+0j))
print(bool(1+1j))
print(bool(0+0.00001j))

False
False
False
False
False
True
True
True
True

In [251]:
print(bool(''))
print(bool(""))
print(bool(''''''))
print(bool(""""""))
print(bool(' ')) # 'space_character'
print(bool('0'))

False
False
False
False
True
True

In [248]:
len(' ')

1

In [250]:
len('0')

1

In [253]:
print(bool(None))

False

In [262]:
print(bool([]))
print(bool(['']))
print(bool([0]))
print(bool([()]))

False
True
True
True

In [259]:
len([''])

1

In [265]:
print(bool(()))
print(bool((0,0,0,0,0)))

False
True

In [266]:
# Note- When we pass a single element inside the () then it is not a tuple but the element itself.

In [267]:
a=(5)
print(a,type(a))

5 <class 'int'>

In [268]:
a=('Python')
print(a,type(a))

Python <class 'str'>

In [269]:
a=(2.8)
print(a,type(a))

2.8 <class 'float'>

In [270]:
a=([0])
print(a,type(a))

[0] <class 'list'>

In [273]:
a=(5,)
print(a,type(a))

(5,) <class 'tuple'>

In [274]:
print(bool(('')))

False

In [275]:
('')

''

In [276]:
print(bool(('',)))

True

In [279]:
a=('',)
a

('',)

In [280]:
len(a)

1

In [282]:
print(bool((0)))

False

In [281]:
(0)

0

In [283]:
print(bool((0,)))

True

In [285]:
a=(0,)
a

(0,)

In [286]:
len(a)

1

In [294]:
print(bool({}))
print(bool({0,2,1,5}))
print(bool({0:0}))
print(bool({0}))

False
True
True
True

In [292]:
d={0:0}
d

{0: 0}

In [293]:
len(d)

1

In [295]:
s={0}
s

{0}

In [297]:
len(s)

1

In [304]:
f=frozenset()
print(bool(f))

f=frozenset([])
print(bool(f))

f=frozenset('')
print(bool(f))

f=frozenset(())
print(bool(f))

f=frozenset({})
print(bool(f))

False
False
False
False
False

In [311]:
f=frozenset([0])
print(bool(f))

f=frozenset('~')
print(bool(f))

f=frozenset((0,))
print(bool(f))

f=frozenset({1:100,2:200})
print(bool(f))

True
True
True
True

In [310]:
(0,)

(0,)

In [316]:
print(bool(range(0)))

False

In [314]:
list(range(0))

[]

In [319]:
list(range(0,0))

[]

In [320]:
bool(range(0,0))

False

In [322]:
list(range(5,5))

[]

In [323]:
bool(range(5,5))

False

In [325]:
list(range(0,1))

[0]

In [326]:
bool(range(0,1))

True

# list()

In [327]:
# - It takes an iterable as an input and returns a list.
# - It typcasts an iterable into a list.

In [328]:
# list(iterable)
# Iterable- String, List, Tuple, Dictionary, Set, Frozenset, Range

In [333]:
my_str='Python'
print(my_str,type(my_str))
print(len(my_str))

lst=list(my_str)
print(lst, type(lst))
print(len(lst))

Python <class 'str'>
6
['P', 'y', 't', 'h', 'o', 'n'] <class 'list'>
6

In [336]:
t=(10,20,30,40,50,60,70,80)
print(t,type(t))

lst=list(t)
print(lst,type(lst))

(10, 20, 30, 40, 50, 60, 70, 80) <class 'tuple'>
[10, 20, 30, 40, 50, 60, 70, 80] <class 'list'>

In [339]:
d={1:100,2:200,3:300,4:400}
print(d,type(d))

lst=list(d)
print(lst,type(lst))

{1: 100, 2: 200, 3: 300, 4: 400} <class 'dict'>
[1, 2, 3, 4] <class 'list'>

In [343]:
lst=list(d.values())
print(lst,type(lst))

[100, 200, 300, 400] <class 'list'>

In [347]:
s={True, 'Hello', 55, 2.888, -6}
print(s,type(s))

lst=list(s)
print(lst,type(lst))

{True, 2.888, 55, 'Hello', -6} <class 'set'>
[True, 2.888, 55, 'Hello', -6] <class 'list'>

In [350]:
f=frozenset((1,5,8,6,3,4,5))
print(f,type(f))

lst=list(f)
print(lst,type(lst))

frozenset({1, 3, 4, 5, 6, 8}) <class 'frozenset'>
[1, 3, 4, 5, 6, 8] <class 'list'>

In [352]:
lst=list(range(5))
print(lst,type(lst))

[0, 1, 2, 3, 4] <class 'list'>

In [355]:
lst=list(range(1,18,3))
print(lst,type(lst))

[1, 4, 7, 10, 13, 16] <class 'list'>

In [358]:
list(5)

TypeError: 'int' object is not iterable

In [359]:
list(True)

TypeError: 'bool' object is not iterable

# tuple()

In [356]:
# - It returns a tuple object.
# - It typecasts an iterable into tuple.

In [357]:
# tuple(iterable) -> tuple

In [363]:
my_str='Hello'
print(my_str,type(my_str))

t=tuple(my_str)
print(t,type(t))

Hello <class 'str'>
('H', 'e', 'l', 'l', 'o') <class 'tuple'>

In [365]:
lst=['Python', True, 55, 6.88888, None, {1:100,2:200}, (1,2,3,4,5), 5+5j]
print(lst,type(lst))

t=tuple(lst)
print(t,type(t))

['Python', True, 55, 6.88888, None, {1: 100, 2: 200}, (1, 2, 3, 4, 5), (5+5j)] <class 'list'>
('Python', True, 55, 6.88888, None, {1: 100, 2: 200}, (1, 2, 3, 4, 5), (5+5j)) <class 'tuple'>

In [370]:
d={1:100,2:200,3:300,4:400}
print(d,type(d))

t=tuple(d)
print(t,type(t))

t=tuple(d.values())
print(t,type(t))

{1: 100, 2: 200, 3: 300, 4: 400} <class 'dict'>
(1, 2, 3, 4) <class 'tuple'>
(100, 200, 300, 400) <class 'tuple'>

In [373]:
s={1,2,3,4,5}
print(s,type(s))

t=tuple(s)
print(t,type(t))

{1, 2, 3, 4, 5} <class 'set'>
(1, 2, 3, 4, 5) <class 'tuple'>

In [376]:
f=frozenset([True, 'Hello', -15, 6.88, 5+6j, None])
print(f,type(f))

t=tuple(f)
print(t,type(t))

frozenset({True, 6.88, -15, None, (5+6j), 'Hello'}) <class 'frozenset'>
(True, 6.88, -15, None, (5+6j), 'Hello') <class 'tuple'>

In [378]:
t=tuple(range(5))
print(t,type(t))

(0, 1, 2, 3, 4) <class 'tuple'>

In [380]:
t=tuple(range(2,21,2))
print(t,type(t))

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20) <class 'tuple'>

# dict()

In [381]:
# dict() returns a dictionary.
# dict() typecasts to a dictionary.

In [382]:
# dict(iterable)

In [383]:
# - dict() takes an iterable as an input.
# - The iterable that we pass to the dict() must have one more iterable inside it.
# - The inner iterables must have two elements only.
# - The first element becomes the key and the second element becomes the value in the dictionary.

In [384]:
# {1:100}

In [386]:
dict([[1,100]])

{1: 100}

In [387]:
# {1:1}

In [389]:
dict([[1,1]])

{1: 1}

In [390]:
{1,1}

{1}

In [399]:
# {'ID':'111'}

In [398]:
dict([{'ID','111'}])

{'111': 'ID'}

In [404]:
dict((['Name','Suresh'],))

{'Name': 'Suresh'}

In [403]:
(['Name','Suresh'],)

(['Name', 'Suresh'],)

In [405]:
# {'Name':'Dhruv','ID':111}

In [413]:
dict([['Name','Dhruv'],('ID',111)])

{'Name': 'Dhruv', 'ID': 111}

In [414]:
# len('ID')

In [419]:
dict([['Name','Dhruv'],(5,6)])

{'Name': 'Dhruv', 5: 6}

# set()

In [415]:
# - It returns a set.
# - It typecasts to a set.

In [416]:
# set(iterable)

In [422]:
# - The iterable that we pass inside the set() must have only hashable items.
# - Hashable Items- int, float, complex, string, bool, None, tuple, frozenset, range
# - Unhashable Items- List, Dictionary, Set

In [425]:
lst=[5,2.5, True, 'Python', 4+6j]
print(lst,type(lst))

s=set(lst)
print(s,type(s))

[5, 2.5, True, 'Python', (4+6j)] <class 'list'>
{True, 2.5, 5, 'Python', (4+6j)} <class 'set'>

In [426]:
lst=[5,2.5, True, 'Python', {1:100}, 4+6j]
print(lst,type(lst))

s=set(lst)
print(s,type(s))

[5, 2.5, True, 'Python', {1: 100}, (4+6j)] <class 'list'>

TypeError: unhashable type: 'dict'

In [429]:
t=('Amit','Raman', 'Mohit', 'Kapil','Raman')
print(t,type(t))

s=set(t)
print(s,type(s))

('Amit', 'Raman', 'Mohit', 'Kapil', 'Raman') <class 'tuple'>
{'Raman', 'Mohit', 'Kapil', 'Amit'} <class 'set'>

In [434]:
d={1:100,2:200,3:300,4:400}
print(d,type(d))

s=set(d)
print(s,type(s))

s=set(d.values())
print(s,type(s))

{1: 100, 2: 200, 3: 300, 4: 400} <class 'dict'>
{1, 2, 3, 4} <class 'set'>
{200, 100, 400, 300} <class 'set'>

In [448]:
s=set(range(5))
print(s,type(s))

{0, 1, 2, 3, 4} <class 'set'>

# frozenset()

In [436]:
# - It takes an iterable as an input and typecasts it to frozenset.
# - It returns a frozenset object.

In [437]:
# frozenset(iterable)

In [438]:
# - The iterable that we pass inside the set() must have only hashable items.
# - Hashable Items- int, float, complex, string, bool, None, tuple, frozenset, range
# - Unhashable Items- List, Dictionary, Set

In [439]:
lst=[1,2,3,4,5,6,7,8]

f=frozenset(lst)
print(f,type(f))

frozenset({1, 2, 3, 4, 5, 6, 7, 8}) <class 'frozenset'>

In [445]:
d={'Name':'Amit','Age':27,'City':'Pune', 'Phone':1234567890}
print(d,type(d))

f=frozenset(d)
print(f,type(f))

f=frozenset(d.values())
print(f,type(f))

{'Name': 'Amit', 'Age': 27, 'City': 'Pune', 'Phone': 1234567890} <class 'dict'>
frozenset({'Name', 'Age', 'City', 'Phone'}) <class 'frozenset'>
frozenset({1234567890, 'Pune', 27, 'Amit'}) <class 'frozenset'>

In [449]:
f=frozenset(range(1,11))
print(f,type(f))

frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9, 10}) <class 'frozenset'>

In [452]:
t=('Hello', [1,2,3,4,5], 5+7j, None, False, 5000, 6.8888)
print(t,type(t))

f=frozenset(t)
print(f,type(f))

('Hello', [1, 2, 3, 4, 5], (5+7j), None, False, 5000, 6.8888) <class 'tuple'>

TypeError: unhashable type: 'list'

In [453]:
t=('Hello', (1,2,3,4,5), 5+7j, None, False, 5000, 6.8888)
print(t,type(t))

f=frozenset(t)
print(f,type(f))

('Hello', (1, 2, 3, 4, 5), (5+7j), None, False, 5000, 6.8888) <class 'tuple'>
frozenset({False, 6.8888, 5000, None, 'Hello', (5+7j), (1, 2, 3, 4, 5)}) <class 'frozenset'>

# Keywords and Identifiers

# Keywords

In [455]:
# - These are the reserve words in Python.
# - these words are used to perform some specific task as they have some specific meaning and purpose.
# Examples- True, False, for, if, else, from, import, with, as, while etc.

In [459]:
import keyword

In [461]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# Identifier

In [465]:
# - An identifier is a name given to a variable, function, file_object, class, or any other object.
# - A keyword should or can not be used as an identifier.

In [464]:
a=15
# a- variable name

In [466]:
d=22

In [467]:
if=22

SyntaxError: invalid syntax (2094369896.py, line 1)

# Variables and Constatnts

In [471]:
# - A variable is a container that contains a value.
# - The value that a variable referes to is a constant.
# - Sometimes variables are said to be names and the constants to be values.

In [469]:
a=55

In [470]:
# a- variable
# 55- constant

In [472]:
# c=78
# c- variable / name
# 78- constant/value

# Input and Output Functions

# Input Functions

In [473]:
# - The functions that we use to take the input from the user at the run time are known as input functions.

In [474]:
a=10
b=15
c=a+b
print(c)

25

### input()

In [475]:
# input() takes the input from the user at run time and returns a string value.

In [476]:
# variable=input('Message')

In [479]:
a=input('Enter a value- ')
print(a,type(a))

Enter a value-  5

5 <class 'str'>

In [481]:
input()

 5

'5'

In [483]:
# Write a program that takes two numbers from the user and adds them.

In [485]:
a=input('Enter a number- ')
b=input('Enter a number- ')

print(a,type(a))
print(b,type(b))

Enter a number-  7
Enter a number-  8

7 <class 'str'>
8 <class 'str'>

In [486]:
a=input('Enter a number- ')
b=input('Enter a number- ')

print(a,type(a))
print(b,type(b))

c=a+b
print(c)

Enter a number-  4
Enter a number-  6

4 <class 'str'>
6 <class 'str'>
46

In [487]:
'4'+'6'

'46'

In [488]:
a=int(input('Enter a number- '))
b=int(input('Enter a number- '))

print(a,type(a))
print(b,type(b))

Enter a number-  4
Enter a number-  6

4 <class 'int'>
6 <class 'int'>

In [489]:
a=int(input('Enter a number- '))
b=int(input('Enter a number- '))

c=a+b
print(c)

Enter a number-  4
Enter a number-  5

9

In [490]:
# eval()
# Output functions