# Tuple

In [10]:
# - A tuple is a collection of elements kept inside the ().
# - Each element in a tuple is seperated by a comma.
# - A tuple can have heterogenous elements.
# - A tuple may have duplicated elements as well.

In [4]:
t=(10,20,30,40,50,60,70,80)
print(t,type(t))

(10, 20, 30, 40, 50, 60, 70, 80) <class 'tuple'>

In [8]:
t=(True, 'Python', 5000, 6+8j, [1,2,3,4,5], None, {1:100,2:200})
print(t,type(t))

(True, 'Python', 5000, (6+8j), [1, 2, 3, 4, 5], None, {1: 100, 2: 200}) <class 'tuple'>

In [12]:
s={1,2,5,2,2,2,2,2,2,5,5,5,5,2,2,1,4,4,5,5,5,5}
print(s,type(s))

{1, 2, 4, 5} <class 'set'>

In [14]:
t=(1,2,5,2,2,2,2,2,2,5,5,5,5,2,2,1,4,4,5,5,5,5)
print(t,type(t))

(1, 2, 5, 2, 2, 2, 2, 2, 2, 5, 5, 5, 5, 2, 2, 1, 4, 4, 5, 5, 5, 5) <class 'tuple'>

# Operations on a tuple

In [17]:
# - Concatenation
# - Repeatition
# - Length
# - Indexing and slicing
# - Membership

# Concatenation

In [20]:
# - Joining two or more tuples together is known as concatenation of the tuples.
# - A tuple can be concatenated with a tuple only.
# - If we concatenate a tuple with some other type then we get type error.
# - + operator is used to concatenate two tuples together.

In [26]:
t1=(10,20)
t2=(100,300)
t=t1+t2
print(t)

(10, 20, 100, 300)

In [28]:
t=(10,20)
l=[1,2]
print(t+l)

TypeError: can only concatenate tuple (not "list") to tuple

In [43]:
print((10,20)+(5,6))

(10, 20, 5, 6)

# Repeatition

In [31]:
# - * operator is used to repeat a tuple

In [33]:
t=(10,20,30)
print(t*5)

(10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30, 10, 20, 30)

# Length

In [46]:
# - The number of elements in a tuple is the length of the tuple.
# - len()- It returns the length of the tuple.

In [48]:
t=(10,20,30,40,50,20,81,60,40,18)
print(len(t))

10

# Indexing and Slicing of a tuple

### Indexing

In [52]:
# - A tuple is a =n ordered collection of data as each element is stored at a particular index in a tuple.
# - It is also known as sequence type as it follows indexing.
# - A tuple supports +ive and -ive indexing both.

In [54]:
t=(10,20,30,40,50,60,70,80)
print(t,type(t))

(10, 20, 30, 40, 50, 60, 70, 80) <class 'tuple'>

In [64]:
# First element
print(t[0])
print(t[-8])
print(t[-len(t)])

10
10
10

In [62]:
-len(t)

-8

In [76]:
# Last element
print(t[-1])
print(t[7])
print(t[len(t)-1])

80
80
80

In [72]:
len(t)-1

7

# Slicing

In [79]:
# Extracting a sub part of a tuple is known as tuple slicing.

In [81]:
t=(10,20,30,40,50,60,70,80)
print(t,type(t))

(10, 20, 30, 40, 50, 60, 70, 80) <class 'tuple'>

In [87]:
# First four elements
print(t[0:4])
print(t[0:4:1])
print(t[:4])

(10, 20, 30, 40)
(10, 20, 30, 40)
(10, 20, 30, 40)

In [89]:
# Reverse the tuple
print(t[::-1])

(80, 70, 60, 50, 40, 30, 20, 10)

In [95]:
t=(10,20,30,40,50,60,70,80)
print(t)

(10, 20, 30, 40, 50, 60, 70, 80)

In [97]:
print(t[-2:1:-2])

(70, 50, 30)

# How to create a tuple

# Case_1
- When we already know the elements

In [101]:
t=(10,20,30,40,50)
print(t,type(t))

(10, 20, 30, 40, 50) <class 'tuple'>

# Case_2
- By using the tuple()

In [104]:
# tuple(iterable)- It returns a tuple (Typecasting)

In [108]:
my_str='Python class'
print(my_str,type(my_str))

t=tuple(my_str)
print(t,type(t))

Python class <class 'str'>
('P', 'y', 't', 'h', 'o', 'n', ' ', 'c', 'l', 'a', 's', 's') <class 'tuple'>

In [112]:
lst=[True, None, 'Hello', 5+5j, {1:100,2:200}]
print(lst,type(lst))

t=tuple(lst)
print(t,type(t))

[True, None, 'Hello', (5+5j), {1: 100, 2: 200}] <class 'list'>
(True, None, 'Hello', (5+5j), {1: 100, 2: 200}) <class 'tuple'>

In [122]:
d={1:100,2:200,3:300,4:400}
print(d,type(d))

t=tuple(d)
print(t,type(t))

t=tuple(d.values())
print(t,type(t))

{1: 100, 2: 200, 3: 300, 4: 400} <class 'dict'>
(1, 2, 3, 4) <class 'tuple'>
(100, 200, 300, 400) <class 'tuple'>

In [126]:
s={True, 'Python', 55, 6+6j, None}
print(s,type(s))

t=tuple(s)
print(t,type(t))

{'Python', True, 55, (6+6j), None} <class 'set'>
('Python', True, 55, (6+6j), None) <class 'tuple'>

In [130]:
f=frozenset([True, 'Python', 55, 6+6j, None, 8.444444])
print(f,type(f))

t=tuple(f)
print(t,type(t))

frozenset({True, 8.444444, None, 'Python', 55, (6+6j)}) <class 'frozenset'>
(True, 8.444444, None, 'Python', 55, (6+6j)) <class 'tuple'>

In [138]:
r=range(1,11)
print(r,type(r))

t=tuple(r)
print(t,type(t))

range(1, 11) <class 'range'>
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10) <class 'tuple'>

In [142]:
e=enumerate('Python')
print(e,type(e))

t=tuple(e)
print(t,type(t))

<enumerate object at 0x000001BEF7D6D800> <class 'enumerate'>
((0, 'P'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n')) <class 'tuple'>

In [146]:
z=zip([1,2,3,4,5],['Amit','Jayanth','Suresh','Tania','Kabir'])
print(z,type(z))

t=tuple(z)
print(t,type(t))

<zip object at 0x000001BEF9EABC00> <class 'zip'>
((1, 'Amit'), (2, 'Jayanth'), (3, 'Suresh'), (4, 'Tania'), (5, 'Kabir')) <class 'tuple'>

In [150]:
f=filter(lambda x:x%2==0, [1,2,3,4,5,6,7,8,9,10])
print(f,type(f))

t=tuple(f)
print(t,type(t))

<filter object at 0x000001BEFA9D1120> <class 'filter'>
(2, 4, 6, 8, 10) <class 'tuple'>

In [154]:
m=map(lambda x:x**2,[1,2,3,4,5])
print(m,type(m))

t=tuple(m)
print(t,type(t))

<map object at 0x000001BEFA9D25F0> <class 'map'>
(1, 4, 9, 16, 25) <class 'tuple'>

In [156]:
t=tuple(25)

TypeError: 'int' object is not iterable

In [158]:
t=tuple(2.8)

TypeError: 'float' object is not iterable

In [160]:
t=tuple(5+4j)

TypeError: 'complex' object is not iterable

In [162]:
t=tuple(True)

TypeError: 'bool' object is not iterable

# Case_3
- Creating a tuple of single element

In [165]:
# - When we have a single element inside the () then it is not a tuple but the element itself.
# - If we have to create a tuple of single element then we have to pass the , after the single element inside the ().

In [167]:
t=(5)
print(t,type(t))

5 <class 'int'>

In [169]:
t=(5,)
print(t,type(t))

(5,) <class 'tuple'>

In [171]:
t=(2.8)
print(t,type(t))

2.8 <class 'float'>

In [188]:
t=(2.8,)
print(t,type(t))

(2.8,) <class 'tuple'>

In [175]:
t=('Python')
print(t,type(t))

Python <class 'str'>

In [177]:
t=('Python',)
print(t,type(t))

('Python',) <class 'tuple'>

In [179]:
t=([1,2,3,4,5])
print(t,type(t))

[1, 2, 3, 4, 5] <class 'list'>

In [181]:
t=([1,2,3,4,5],)
print(t,type(t))

([1, 2, 3, 4, 5],) <class 'tuple'>

### We can create a tuple without ( ) as well

In [192]:
# 2,4,8,6,1

a=2
a=4
a=8
a=6
a=1
print(a)

1

In [194]:
a=2,4,6,8,1
print(a,type(a))

(2, 4, 6, 8, 1) <class 'tuple'>

# Packing and Unpacking

#### Packing

In [197]:
# - Storing multiple values inside a single variable is known as packing.
# - In Python packing is supported by tuple by default.

In [200]:
a='Jayanth',24,'Pune',88000
print(a,type(a))

('Jayanth', 24, 'Pune', 88000) <class 'tuple'>

In [214]:
a=5,
print(a,type(a))

(5,) <class 'tuple'>

#### Unpacking

In [217]:
# - To extract all the values from a container is known as unpacking

In [219]:
t=('Jayanth',24,'Pune',88000)
print(t,type(t))

('Jayanth', 24, 'Pune', 88000) <class 'tuple'>

In [229]:
a,b,c,d=t
print(a)
print(b)
print(c)
print(d)
print(t)

Jayanth
24
Pune
88000
('Jayanth', 24, 'Pune', 88000)

In [231]:
name,age,city,salary=('Amit', 28, 'Mumbai', 96000)

In [241]:
print(name)
print(age)
print(city)
print(salary)

Amit
28
Mumbai
96000

In [245]:
a,b,c=(10,20,30,40)

ValueError: too many values to unpack (expected 3)

In [247]:
a,b,c,d,e=(10,20,30,40)

ValueError: not enough values to unpack (expected 5, got 4)

In [255]:
a,b,c,d=[10,20,30,40]
print(a)
print(b)
print(c)
print(d)

10
20
30
40

In [257]:
a,b,c,d={1:100,2:200,3:300,4:400}

In [265]:
print(a)
print(b)
print(c)
print(d)

1
2
3
4

In [267]:
a,b,c,d={1:100,2:200,3:300,4:400}.values()

In [269]:
print(a)
print(b)
print(c)
print(d)

100
200
300
400

In [275]:
list(zip('hello','Python'))

[('h', 'P'), ('e', 'y'), ('l', 't'), ('l', 'h'), ('o', 'o')]

# Case_4
- By taking the input from the user

In [278]:
t=tuple(input('Enter some values- '))
print(t,type(t))

Enter some values-  12345

('1', '2', '3', '4', '5') <class 'tuple'>

In [280]:
t=tuple(input('Enter some values- '))
print(t,type(t))

Enter some values-  Python

('P', 'y', 't', 'h', 'o', 'n') <class 'tuple'>

In [284]:
t=tuple(input('Enter some values- '))
print(t,type(t))

Enter some values-  10,20,30,40,50

('1', '0', ',', '2', '0', ',', '3', '0', ',', '4', '0', ',', '5', '0') <class 'tuple'>

In [286]:
tuple('10,20,30,40,50')

('1', '0', ',', '2', '0', ',', '3', '0', ',', '4', '0', ',', '5', '0')

### eval()

In [289]:
t=eval(input('Enter some values- '))
print(t,type(t))

Enter some values-  (10,20,30,40,50)

(10, 20, 30, 40, 50) <class 'tuple'>

In [293]:
t=eval(input('Enter some values- '))
print(t,type(t))

Enter some values-  ('Python','Class')

('Python', 'Class') <class 'tuple'>

# Creating a tuple using loop

In [322]:
# Create a tuple of the numbers from 1 to 10 using loop

t=()

for i in range(1,11):
    t=t+(i,)
print(t)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [314]:
t=()
t=t+(1,)
t=t+(2,)
t

(1, 2)

In [306]:
lst=[]
lst+[5]

[5]

In [327]:
t=()

for i in range(5):
    val=eval(input('Enter a value'))
    t+=(val,)

print(t)

Enter a value 10
Enter a value 2.8
Enter a value True
Enter a value None
Enter a value 5+5j

(10, 2.8, True, None, (5+5j))

# Tuple is immutable

### Immutability

In [331]:
# - We can not modify the element in a container.
# - Item assignment is not possible
# - The address will be different before and after the modification.

In [333]:
t=(10,20,30)
print(t)

(10, 20, 30)

In [337]:
t[0]=None

TypeError: 'tuple' object does not support item assignment

In [339]:
my_str='Python'
print(my_str)

Python

In [343]:
my_str[0]='J'

TypeError: 'str' object does not support item assignment

In [353]:
my_str='Python'
print(my_str,id(my_str))

Python 140720362644304

In [355]:
my_str=my_str.replace('P','J')
print(my_str,id(my_str))

Jython 1919748214448

In [406]:
# Create a tuple of the numbers from 1 to 10 using loop
t=()
for i in range(1,11):
    t=t+(i,)
    print(t,id(t))

(1,) 1919756850256
(1, 2) 1919755672640
(1, 2, 3) 1919752983168
(1, 2, 3, 4) 1919755140640
(1, 2, 3, 4, 5) 1919747070192
(1, 2, 3, 4, 5, 6) 1919758548224
(1, 2, 3, 4, 5, 6, 7) 1919757303424
(1, 2, 3, 4, 5, 6, 7, 8) 1919753695808
(1, 2, 3, 4, 5, 6, 7, 8, 9) 1919754011456
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10) 1919753694656

# Tuple Methods

In [366]:
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [368]:
# 'count', 'index'

# count()

In [375]:
# - It returns the count of the specified element inside the tuple.
# - If the element is not available then it returns 0.

In [391]:
t=(1,2,2,2,1,1,1,4,4,4,4,4,5,5,5,55,5,5,6,6,6,1,1,6,6,6,6,6,6,2,6,8,8,8,9,9,9,9,9,9,9)
print(t.count(2))
print(t.count(5))
print(t.count(9))
print(t.count(1))

4
5
7
6

# index()

In [394]:
# - It returns the index of the first occurence of an element from left to right.
# - If the element is not available then it raises value error.

In [400]:
t=(1,2,2,2,1,1,1,4,4,4,4,4,5,5,5,55,5,5,6,6,6,1,1,6,6,6,6,6,6,2,6,8,8,8,9,9,9,9,9,9,9)
print(t.index(2))
print(t.index(4,8))

1
8

In [404]:
print(t.index(1000))

ValueError: tuple.index(x): x not in tuple

# Dictionary

In [415]:
# - It is a collection of key value pairs kept inside the {}.
# - key and value are seperated by :
# - Each key:value pair is known as an item or element of a dictionary.
# - Each element in a dictionary is seperated by a comma.
# - Keys can not be duplicated.
# - If we duplicate the keys then the last value at that particular key is updated.
# - Values can be duplicated.

In [411]:
# {key:value,key:value......key:value}

In [413]:
d={1:100,2:200,3:300,4:400}
print(d,type(d))

{1: 100, 2: 200, 3: 300, 4: 400} <class 'dict'>

In [417]:
d={1:100,2:200,3:300,4:400,1:500}
print(d,type(d))

{1: 500, 2: 200, 3: 300, 4: 400} <class 'dict'>

In [419]:
d={1:100,1:200,1:300,1:400}
print(d,type(d))

{1: 400} <class 'dict'>

In [421]:
emp={'Name':'Suresh','Age':25,'City':'Pune','Salary':75000}
print(emp,type(emp))

{'Name': 'Suresh', 'Age': 25, 'City': 'Pune', 'Salary': 75000} <class 'dict'>

In [423]:
emp={'Name':'Suresh','Age':25,'City':'Pune','Salary':75000,'Name':'Amit'}
print(emp,type(emp))

{'Name': 'Amit', 'Age': 25, 'City': 'Pune', 'Salary': 75000} <class 'dict'>

In [425]:
emp={'Name':'Suresh','Age':25,'City':'Pune','Salary':75000,'name':'Amit'}
print(emp,type(emp))

{'Name': 'Suresh', 'Age': 25, 'City': 'Pune', 'Salary': 75000, 'name': 'Amit'} <class 'dict'>

In [427]:
d={1:100,2:100,3:100,4:100}
print(d,type(d))

{1: 100, 2: 100, 3: 100, 4: 100} <class 'dict'>

In [429]:
emp={'Ashish':'Data','Jayanth':'Data','Suresh':'Data','Amit':'Data'}
print(emp,type(emp))

{'Ashish': 'Data', 'Jayanth': 'Data', 'Suresh': 'Data', 'Amit': 'Data'} <class 'dict'>

# Operations on a dictionary

In [432]:
# - Concatenation, Repeatition, Indexing and Slicing are not possible with a dictionary.
# - Length operation is possible.

# Length

In [435]:
# - The number of items or elements in a dictionary is the length of the dictinoary.
# - len()- It returns the length of a dictionary.

In [439]:
emp={'Name':'Suresh','Age':25,'City':'Pune','Salary':75000}
print(emp,type(emp))

print(len(emp))

{'Name': 'Suresh', 'Age': 25, 'City': 'Pune', 'Salary': 75000} <class 'dict'>
4

In [443]:
d={1:100,2:200}
print(d,type(d))

print(len(d))

{1: 100, 2: 200} <class 'dict'>
2

In [449]:
# - Dictionary does not support indexing.
# - In a dictionary the values are mapped to the keys.
# - We can access any value using the key.
# - For any invalid key it raises key error.

In [462]:
# dictionary[key]-> Value

In [447]:
emp={'Name':'Suresh','Age':25,'City':'Pune','Salary':75000}
print(emp,type(emp))

{'Name': 'Suresh', 'Age': 25, 'City': 'Pune', 'Salary': 75000} <class 'dict'>

In [457]:
print(emp['Name'])
print(emp['City'])
print(emp['Age'])
print(emp['Salary'])

Suresh
Pune
25
75000

In [459]:
print(emp['Address'])

KeyError: 'Address'

# How to create a dictionary?

# Case_1
- When we already know the elements

In [470]:
emp={'Name':'Amit','Age':25,'City':'Mumbai','Company':'Infosys'}
print(emp,type(emp))

{'Name': 'Amit', 'Age': 25, 'City': 'Mumbai', 'Company': 'Infosys'} <class 'dict'>

# Case_2
- By using dict()

### dict(Iterable)

In [477]:
# - The iterable that we pass inside the dict() must have one more iterable inside it.
# - The inner iterable must have two elements.
# - The first element becomes the key in the dictionary and the second element becomes the value in the dictionary.

In [483]:
# {1:100}

d=dict([(1,100)])
print(d)

{1: 100}

In [489]:
d=dict([[1,100]])
print(d)

{1: 100}

In [495]:
# {'Name':'Amit','Age':22}

d=dict([['Name','Amit'],('Age',22)])
print(d)

{'Name': 'Amit', 'Age': 22}

In [507]:
d=dict((['Name','Suresh'],))
print(d)

{'Name': 'Suresh'}

In [501]:
(['Name','Suresh'],)

(['Name', 'Suresh'],)

### dict(enumerate)

In [512]:
names=['Amit','Sumit','Deepak','Jayanth','Suresh']
e=enumerate(names)
print(list(e))

[(0, 'Amit'), (1, 'Sumit'), (2, 'Deepak'), (3, 'Jayanth'), (4, 'Suresh')]

In [518]:
names=['Amit','Sumit','Deepak','Jayanth','Suresh']
d=dict(enumerate(names))
print(d,type(d))

{0: 'Amit', 1: 'Sumit', 2: 'Deepak', 3: 'Jayanth', 4: 'Suresh'} <class 'dict'>

### dict(zip)

In [533]:
codes=[111,112,113,114,115]
names=['Amit','Sumit','Deepak','Jayanth','Suresh']

# Codes should be the keys and names should be the values.
d=dict(zip(codes,names))
print(d,type(d))

{111: 'Amit', 112: 'Sumit', 113: 'Deepak', 114: 'Jayanth', 115: 'Suresh'} <class 'dict'>

In [541]:
country=['India','Russia','Vietnam','Hongkong','China','USA','Thailand']
currency=['Rupee','Rubel','VND','HKD','Yuan','Dollar','Bhath']

# Countries should be the key and the currency should be the value.

d=dict(zip(country,currency))
print(d)

{'India': 'Rupee', 'Russia': 'Rubel', 'Vietnam': 'VND', 'Hongkong': 'HKD', 'China': 'Yuan', 'USA': 'Dollar', 'Thailand': 'Bhath'}

In [551]:
print(d['India'])
print(d['USA'])
print(d['Vietnam'])
print(d['China'])

Rupee
Dollar
VND
Yuan

# Case_3
- By taking the input from the user

In [559]:
d=eval(input('Enter a dictionary- '))
print(d,type(d))

Enter a dictionary-  {1:100,2:200}

{1: 100, 2: 200} <class 'dict'>

In [561]:
d=eval(input('Enter a dictionary- '))
print(d,type(d))

Enter a dictionary-  {"Name":"Amit",'Age':22}

{'Name': 'Amit', 'Age': 22} <class 'dict'>

In [563]:
keys=[]
vals=[]

for i in range(5):
    k=eval(input('Enter the key- '))
    v=eval(input('Enter the value- '))
    keys.append(k)
    vals.append(v)

d=dict(zip(keys,vals))
print(d,type(d))

Enter the key-  1
Enter the value-  100
Enter the key-  2
Enter the value-  200
Enter the key-  3
Enter the value-  300
Enter the key-  4
Enter the value-  400
Enter the key-  5
Enter the value-  500

{1: 100, 2: 200, 3: 300, 4: 400, 5: 500} <class 'dict'>

In [565]:
keys=[]
vals=[]

for i in range(5):
    k=eval(input('Enter the key- '))
    v=eval(input('Enter the value- '))
    keys.append(k)
    vals.append(v)

d=dict(zip(keys,vals))
print(d,type(d))

Enter the key-  "Name"
Enter the value-  'Ashish'
Enter the key-  'Age'
Enter the value-  28
Enter the key-  'Code'
Enter the value-  111
Enter the key-  'City'
Enter the value-  'Bangalore'
Enter the key-  'Salary'
Enter the value-  95000

{'Name': 'Ashish', 'Age': 28, 'Code': 111, 'City': 'Bangalore', 'Salary': 95000} <class 'dict'>

### Creating a dictionary using loop

In [582]:
d={'Name':'Amit','Age':28}
print(d)

{'Name': 'Amit', 'Age': 28}

In [584]:
# dictionary[key]=value

In [590]:
d['Salary']=82000

In [592]:
print(d)

{'Name': 'Amit', 'Age': 28, 'Salary': 82000}

In [596]:
d['Company']='TCS'

In [598]:
print(d)

{'Name': 'Amit', 'Age': 28, 'Salary': 82000, 'Company': 'TCS'}

In [622]:
# Create a dictionary where the numbers from 1 to 5 are the keys and their squares are the values
# Output- {1:1,2:4,3:9,4:16,5:25}
d={}

for i in range(1,6):
    d[i]=i**2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [616]:
d={}
d[1]=1**2
print(d)

d[2]=2**2
print(d)

d[3]=3**2
print(d)

d[4]=4**2
print(d)

d[5]=5**2
print(d)

{1: 1}
{1: 1, 2: 4}
{1: 1, 2: 4, 3: 9}
{1: 1, 2: 4, 3: 9, 4: 16}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

# Case_4
- Dictionary Comprehension

### Dictionary Comprehension

In [624]:
# - It is a one liner code to create a dictionary.
# - It is an easier way to create a dictionary using loop.

#### Syntax

In [627]:
# {key:value for loop}

In [637]:
# Create a dictionary where the numbers from 1 to 5 are the keys and their squares are the values
# Output- {1:1,2:4,3:9,4:16,5:25}

d={i:i**2 for i in range(1,6)}
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [641]:
# Create a dictionary where the numbers from 1 to 5 are the values and their squares are the keys.
# Output- {1:1,4:2,9:3,16:4,25:5}

In [649]:
# Using loop

d={}
for i in range(1,6):
    d[i**2]=i
print(d)

{1: 1, 4: 2, 9: 3, 16: 4, 25: 5}

In [655]:
d={i**2:i for i in range(1,6)}
print(d,type(d))

{1: 1, 4: 2, 9: 3, 16: 4, 25: 5} <class 'dict'>

In [657]:
# {key:value for loop if condition}

In [677]:
# Create a dictionary where-
# - the numbers that can be divided by 3 and 5 both between 1 and 50 are the keys and their doubles are the values

In [671]:
d={}

for i in range(1,51):
    if i%3==0 and i%5==0:
        d[i]=i*2
print(d)

{15: 30, 30: 60, 45: 90}

In [681]:
d={i:i*2 for i in range(1,51) if i%3==0 and i%5==0}
print(d)

{15: 30, 30: 60, 45: 90}

In [691]:
lst=[2,5,8,7,4,6,9,2,1,4]
# Create a dictionary where the even numbers from the above list are the keys and their cubes are the values.

d={}

for i in lst:
    if i%2==0:
        d[i]=i**3
print(d)

{2: 8, 8: 512, 4: 64, 6: 216}

In [699]:
d={i:i**3 for i in lst if i%2==0}
print(d,type(d))

{2: 8, 8: 512, 4: 64, 6: 216} <class 'dict'>

In [701]:
# {ternary operator for loop}

In [722]:
# - Create a dictionary where the numbers from 1 to 10 are the keys.
# - The values are the squares of the even keys and the cubes of the odd keys.

# Output- {1:1,2:4,3:27,4:16,5:125,6:36,7:343,8:64,9:729,10:100}

d={}

for i in range(1,11):
    if i%2==0:
        d[i]=i**2
    else:
        d[i]=i**3

print(d)

{1: 1, 2: 4, 3: 27, 4: 16, 5: 125, 6: 36, 7: 343, 8: 64, 9: 729, 10: 100}

In [742]:
d={i:i**2 if i%2==0 else i**3 for i in range(1,11)}
print(d,type(d))

{1: 1, 2: 4, 3: 27, 4: 16, 5: 125, 6: 36, 7: 343, 8: 64, 9: 729, 10: 100} <class 'dict'>

In [738]:
i=5
i**2 if i%2==0 else i**3

125

In [748]:
{i**2 if i%2==0 else i**3:i for i in range(1,11)}

{1: 1, 4: 2, 27: 3, 16: 4, 125: 5, 36: 6, 343: 7, 64: 8, 729: 9, 100: 10}

In [768]:
# Create a dictionary where the letters from A-Z are the keys and their ASCII Codes are the values.
# A-Z, 65-90

d={}

for i in range(65,91):
    d[chr(i)]=i
print(d)

{'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74, 'K': 75, 'L': 76, 'M': 77, 'N': 78, 'O': 79, 'P': 80, 'Q': 81, 'R': 82, 'S': 83, 'T': 84, 'U': 85, 'V': 86, 'W': 87, 'X': 88, 'Y': 89, 'Z': 90}

In [772]:
{chr(i):i for i in range(65,91)}

{'A': 65,
 'B': 66,
 'C': 67,
 'D': 68,
 'E': 69,
 'F': 70,
 'G': 71,
 'H': 72,
 'I': 73,
 'J': 74,
 'K': 75,
 'L': 76,
 'M': 77,
 'N': 78,
 'O': 79,
 'P': 80,
 'Q': 81,
 'R': 82,
 'S': 83,
 'T': 84,
 'U': 85,
 'V': 86,
 'W': 87,
 'X': 88,
 'Y': 89,
 'Z': 90}

In [792]:
# Consonants should be the keys and their ASCII codes should be the values.

d={}

for i in range(65,91):
    if chr(i) not in 'AEIOU':
        d[chr(i)]=i
print(d)

{'B': 66, 'C': 67, 'D': 68, 'F': 70, 'G': 71, 'H': 72, 'J': 74, 'K': 75, 'L': 76, 'M': 77, 'N': 78, 'P': 80, 'Q': 81, 'R': 82, 'S': 83, 'T': 84, 'V': 86, 'W': 87, 'X': 88, 'Y': 89, 'Z': 90}

In [800]:
d={chr(i):i for i in range(65,91) if chr(i) not in 'AEIOU'}
print(d,type(d))

{'B': 66, 'C': 67, 'D': 68, 'F': 70, 'G': 71, 'H': 72, 'J': 74, 'K': 75, 'L': 76, 'M': 77, 'N': 78, 'P': 80, 'Q': 81, 'R': 82, 'S': 83, 'T': 84, 'V': 86, 'W': 87, 'X': 88, 'Y': 89, 'Z': 90} <class 'dict'>

# Dictionary is mutable

In [803]:
# - We can modify the value at a particular key

In [807]:
# dictionary[key]=value

# - If the exists then it will update the value on that particular key.
# - If the key does not exist then it will add a key:value pair at the end in the dictionary.

In [827]:
emp={'Name':'Ashish','Age':24,'City':'Mumbai','Company':'Wipro'}
print(emp,id(emp))

emp['Name']='Deepak'
print(emp)

emp['City']='Bhopal'
print(emp)

emp['Salary']=78000
print(emp)

emp['Phone']=9876543210
print(emp,id(emp))

{'Name': 'Ashish', 'Age': 24, 'City': 'Mumbai', 'Company': 'Wipro'} 1919751156800
{'Name': 'Deepak', 'Age': 24, 'City': 'Mumbai', 'Company': 'Wipro'}
{'Name': 'Deepak', 'Age': 24, 'City': 'Bhopal', 'Company': 'Wipro'}
{'Name': 'Deepak', 'Age': 24, 'City': 'Bhopal', 'Company': 'Wipro', 'Salary': 78000}
{'Name': 'Deepak', 'Age': 24, 'City': 'Bhopal', 'Company': 'Wipro', 'Salary': 78000, 'Phone': 9876543210} 1919751156800

In [833]:
d={1:100,2:200}
print(d,id(d))
d[1]=None
print(d,id(d))

{1: 100, 2: 200} 1919746911936
{1: None, 2: 200} 1919746911936

# We can map multiple values to a single key

In [836]:
# Name-5 names
# Age- 5 ages
# ID- 5 id's
# City- 5 cities

In [840]:
details={'Name':['Deepak','Aditya','Abhishek','Rohit','Suresh'],
        'Age':[25,27,31,24,29],
        'ID':[111,112,113,114,115],
        'City':['Bangalore','Pune', 'Noida', 'Chennai', 'Mumbai']}

In [842]:
details

{'Name': ['Deepak', 'Aditya', 'Abhishek', 'Rohit', 'Suresh'],
 'Age': [25, 27, 31, 24, 29],
 'ID': [111, 112, 113, 114, 115],
 'City': ['Bangalore', 'Pune', 'Noida', 'Chennai', 'Mumbai']}

In [848]:
details['City']

['Bangalore', 'Pune', 'Noida', 'Chennai', 'Mumbai']

In [850]:
name=['Deepak','Aditya','Abhishek','Rohit','Suresh']
age=[25,27,31,24,29]
codes=[111,112,113,114,115]
city=['Bangalore','Pune', 'Noida', 'Chennai', 'Mumbai']

In [852]:
details={'Name':name,
        'Age':age,
        'ID':codes,
        'City':city}

In [854]:
print(details)

{'Name': ['Deepak', 'Aditya', 'Abhishek', 'Rohit', 'Suresh'], 'Age': [25, 27, 31, 24, 29], 'ID': [111, 112, 113, 114, 115], 'City': ['Bangalore', 'Pune', 'Noida', 'Chennai', 'Mumbai']}

In [856]:
import pandas as pd

In [858]:
pd.DataFrame(details)

       Name  Age   ID       City
0    Deepak   25  111  Bangalore
1    Aditya   27  112       Pune
2  Abhishek   31  113      Noida
3     Rohit   24  114    Chennai
4    Suresh   29  115     Mumbai

# Nested Dictionary

In [861]:
# - When a dictionary key is mapped to another dictionary then we call it as nested dictionary

In [863]:
emp_details={'emp_1':{'Name':'Amit',
          'ID':111,
          'Age':24,
          'City':'Pune'},
 
 'emp_2':{'Name':'Siddharth',
         'ID':112,
         'City':'Noida'},
 
 'emp_3':{'Name':'Suresh',
         'ID':113,
         'City':'Bhopal'},
 
 'emp_4':{'Name':'Abhishek',
         'ID':114,
         'City':'Pune'},
}

In [865]:
print(emp_details)

{'emp_1': {'Name': 'Amit', 'ID': 111, 'Age': 24, 'City': 'Pune'}, 'emp_2': {'Name': 'Siddharth', 'ID': 112, 'City': 'Noida'}, 'emp_3': {'Name': 'Suresh', 'ID': 113, 'City': 'Bhopal'}, 'emp_4': {'Name': 'Abhishek', 'ID': 114, 'City': 'Pune'}}

In [867]:
emp_details['emp_1']

{'Name': 'Amit', 'ID': 111, 'Age': 24, 'City': 'Pune'}

In [869]:
emp_details['emp_2']

{'Name': 'Siddharth', 'ID': 112, 'City': 'Noida'}

In [871]:
emp_details['emp_3']

{'Name': 'Suresh', 'ID': 113, 'City': 'Bhopal'}

In [873]:
emp_details['emp_4']

{'Name': 'Abhishek', 'ID': 114, 'City': 'Pune'}