# return vs print()

In [78]:
# - return statement returns the value back to the function call.
# - We can assign the function cll to a variable to hold the returned value.
# - print() only prints the value. It does not return anything.
# - If any function does not return anything then it returns None by default.
# - return statement terminates the function.
# - As soon as the return gets executed the control comes out of the function.

In [18]:
def add(a,b):
    c=a+b
    print(c)

In [29]:
x=add(5,6)

11

In [31]:
print(x)

None

In [62]:
def add(a,b):
    c=a+b
    return c

In [64]:
x=add(5,6)

In [66]:
print(x)

11

In [68]:
lst=[]

In [70]:
lst.append(x)

In [72]:
lst

[11]

In [90]:
def test():
    print('Hello Python')
    return 5
    return 10
    print('Thanks')

In [92]:
x=test()
print(x)

Hello Python
5

In [74]:
lst=[(5,7),(4,6),(12,14),(45,32),(7,9)]

In [118]:
def add(a,b):
    c=a+b
    print(c)

In [120]:
res=[]
for i,j in lst:
    res.append(add(i,j))
print(res)

12
10
26
77
16
[None, None, None, None, None]

In [110]:
add(12,14)

26

In [124]:
def add(a,b):
    c=a+b
    return c

In [126]:
res=[]
for i,j in lst:
    res.append(add(i,j))
print(res)

[12, 10, 26, 77, 16]

In [128]:
lst=[1,2,3,4,5,6]

In [130]:
# Create a function square that takes one number as an argument and squares it.
# We have a list of numbers, square each number of the list by using square() and store the squares in another list.

In [156]:
def square(a):
    return a**2

In [158]:
square(6)

36

In [160]:
sqr_lst=[]
for i in lst:
    sqr_lst.append(square(i))

In [162]:
print(sqr_lst)

[1, 4, 9, 16, 25, 36]

# Types of Arguments

In [165]:
# - 1- Required Positional Arguments
# - 2- Default Arguments
# - 3- Keyworded Arguments
# - 4- Variable Length Arguments
# - 5- Keyworded Variable Length Arguments

# 1- Required Positional Arguments

In [194]:
# - The number of parameters and the arguments have to be the same.
# - The values are passed from the arguments to the parameters as per the order they are placed.
# - The variable names in the function definition and the function call may be the same or different. It doesn't matter.
# - The names do not matter but the order matters.

In [170]:
def test(a,b,c):
    print(a)
    print(b)
    print(c)

In [172]:
test('BBA','BCA','MBA')

BBA
BCA
MBA

In [174]:
def test(a,b,c):
    print(a)
    print(b)
    print(c)

In [178]:
test(20,30,40,50)

TypeError: test() takes 3 positional arguments but 4 were given

In [180]:
def test(a,b,c):
    print(a)
    print(b)
    print(c)

In [182]:
x='MCA'
y='MBA'
z='M.Tech'

In [184]:
test(x,y,z)

MCA
MBA
M.Tech

In [186]:
def test(a,b,c):
    print(a)
    print(b)
    print(c)

In [190]:
a='MCA'
b='MBA'
c='M.Tech'

In [192]:
test(c,a,b)

M.Tech
MCA
MBA

# - 2 Default Arguments

In [197]:
# - When we assign some value to a variable inside the () of the function definition.
# - Then it is called default argument.
# - If we don't pass any argument for the default argument the it takes the default value.
# - If we pass some argument for the default argument then it takes th evalue passed to it.
# - The default arguments should be placed after the positional arguments.

In [201]:
def test(a,b,c='Data Analysis'): #a,b->positional, c-> default argument
    print(a)
    print(b)
    print(c)

In [203]:
test('Data Science','Machine Learning')

Data Science
Machine Learning
Data Analysis

In [205]:
test('Data Science','Machine Learning','AI')

Data Science
Machine Learning
AI

In [207]:
# - Create a function deposit that takes name and the amount as arguments.
# - It should print the amount after deposit.
# - If no deposit then balance should be shown as 0

In [217]:
def deposit(name,bal=0):
    print(f'The name of the customer is {name}')
    print(f'The balance of the customer is {bal}')

In [219]:
deposit('Jayanth')

The name of the customer is Jayanth
The balance of the customer is 0

In [221]:
deposit('Jayanth',5000)

The name of the customer is Jayanth
The balance of the customer is 5000

In [232]:
def test(a,b,d,e,f,c=100):
    print(a)
    print(b)
    print(c)

# 3- Keyworded Arguments

In [234]:
# - When we assign the values to the variables inside the () of the function call.
# - Such arguments are known as keyworded arguments.
# - The values are passed as per the names not as per the order.
# - For the keyworded argument the name has to be the same inside the function definition and the function call.
# - The name matters, order does not matter.
# - Keyworded arguments should be placed after the positional arguments.

In [236]:
def test(a,b,c):
    print(a)
    print(b)
    print(c)

In [242]:
test('DA','BA',c='DS') # c is a keyworded argument

DA
BA
DS

In [244]:
def test(a,b,c,d):
    print(a)
    print(b)
    print(c)
    print(d)

In [246]:
test('BA','DA',d='ML',c='DS')

BA
DA
DS
ML

In [248]:
def test(a,b,c,d):
    print(a)
    print(b)
    print(c)
    print(d)

In [250]:
test('BA','DA','ML',c='DS')

TypeError: test() got multiple values for argument 'c'

In [252]:
def test(a,b,c,d):
    print(a)
    print(b)
    print(c)
    print(d)

In [254]:
test(d='MBA',a='BBA',c='M.Tech',b='AI Engineer')

BBA
AI Engineer
M.Tech
MBA

In [266]:
def test(a,b,c,d):
    print(a)
    print(b)
    print(c)
    print(d)

In [268]:
test(e='MBA',a='BBA',c='M.Tech',b='AI Engineer',d=None)

TypeError: test() got an unexpected keyword argument 'e'

In [270]:
def test(a,b,c,d,e='ML'):
    print(a)
    print(b)
    print(c)
    print(d)
    print(e)

In [274]:
test('DA','DS',e='M.Tech',d='BA',c='MCA')

DA
DS
MCA
BA
M.Tech

# 4- Variable Length Arguments

In [287]:
# - When we don't know how many arguments might be there then we use variable length arguments.
# - In this case the values are stored in a tuple by default.

In [291]:
def test(*a): # a is a variable length argument
    pass

In [293]:
def test(*a):
    print(a,type(a))

In [305]:
test(10,20,'DA','BA','DS','MBA','BA')

(10, 20, 'DA', 'BA', 'DS', 'MBA', 'BA') <class 'tuple'>

In [319]:
def add(*a):
    s=0
    for i in a:
        s+=i
    return s

In [333]:
add(5,6,15,24,45,6)

101

In [317]:
t=(5, 6, 5, 9)
s=0
for i in t:
    s+=i
print(s)

25

# 5- Keyworded Variable Length Arguments

In [338]:
# - When we don't know how many keyworded arguments might be there then we use keyworded variable length arguments.
# - In this case the elements are stored in a dictionary.
# - key=value then key becomes the and value becomes the value.

In [342]:
def test(**a): # keyworded variable length argument
    pass

In [344]:
def test(**a):
    print(a,type(a))

In [356]:
test(name='Amit',marks=88,age=24,city='Mumbai',phone=None)

{'name': 'Amit', 'marks': 88, 'age': 24, 'city': 'Mumbai', 'phone': None} <class 'dict'>

In [362]:
def test(a,b,c=10,*d,**e):
    print(a)
    print(b)
    print(c)
    print(d)
    print(e)

In [364]:
test(5,6)

5
6
10
()
{}

In [366]:
def test(a,b,c=10,*d,**e):
    print(a)
    print(b)
    print(c)
    print(d)
    print(e)

In [378]:
test(5,6,15,20,30,40,50,45,87,65,k=77,name='Amit')

5
6
15
(20, 30, 40, 50, 45, 87, 65)
{'k': 77, 'name': 'Amit'}

# Anonymous Function

In [384]:
# - The function without any name is known as anonymous function.
# - lambda keyword is used to create an anonymous function.
# - It is a simple way to create a function.
# - It is a one liner code to create a function.

In [386]:
# (lambda arguments:expression) (Function call)

In [388]:
# Create an anonymous function that adds two numbers.

In [394]:
x=(lambda a,b:a+b) (12,14)
print(x)

26

In [400]:
# Get the square of a number
x=(lambda a:a**2)(5)
print(x)

25

In [417]:
x=lambda x,y:x+y

In [419]:
print(x,type(x))

<function <lambda> at 0x000001C87D973B00> <class 'function'>

In [421]:
x(10,20)

30

In [423]:
add=lambda x,y:x+y
mult=lambda x,y:x*y
sub=lambda x,y:x-y
div=lambda x,y:x/y

In [425]:
add(2,4)

6

In [427]:
sub(2,4)

-2

In [429]:
mult(2,4)

8

In [432]:
div(2,4)

0.5

# Conditions inside a lambda()

In [435]:
# - We always use the ternary operator to pass the conditions inside the lambda()

In [437]:
# Create a lambda() that finds the maximum of two numbers.

In [441]:
a=10
b=16
a if a>b else b

16

In [449]:
mx=lambda x,y:x if x>y else y

In [453]:
mx(6,15)

15

In [455]:
# Maximum of 3 numbers

In [461]:
a=10
b=16
c=25

a if a>b and a>c else b if b>a and b>c else c

25

In [471]:
x=lambda a,b,c:a if a>b and a>c else b if b>a and b>c else c

In [477]:
x(15,2,10)

15

In [495]:
t=(lambda *a:a) (10,20,30,40,50,60)
print(t)

(10, 20, 30, 40, 50, 60)

In [493]:
d=(lambda **a:a)(name='Amit',age=20,city='Pune')
print(d)

{'name': 'Amit', 'age': 20, 'city': 'Pune'}

In [503]:
lst=[1,2,3,4,5,6]
res=[]
for i in lst:
    res.append((lambda x:x**2)(i))

In [505]:
print(res)

[1, 4, 9, 16, 25, 36]

In [507]:
sqr=lambda x:x**2

In [509]:
sqr(2)

4

In [517]:
res=[]
for i in lst:
   res.append(sqr(i))

In [519]:
print(res)

[1, 4, 9, 16, 25, 36]

# filter()

In [574]:
# - It filters the values from an iterable on the basis of a condition and returns a filter object.
# - It takes two arguments. 
# - The first argument is a function and the second argument is an iterable.
# - The function that we pass to the filter() must have only one variable and a condition.
# - To fetch the values from the filter object we typecast it to list() or tuple() etc or can apply for loop.

In [524]:
# filter(function,iterable)

In [526]:
lst=[1,2,3,4,5,6,7,8,9,10]
# Get the even numbers only from the above list

In [528]:
def even(x):
    if x%2==0:
        return True
    else:
        return False

In [546]:
for i in lst:
    print(even(i))

False
True
False
True
False
True
False
True
False
True

In [556]:
f=filter(even,lst)
print(f,type(f))

lst=list(f)
print(lst)

<filter object at 0x000001C87BDD09D0> <class 'filter'>
[2, 4, 6, 8, 10]

In [558]:
lst=[1,2,3,4,5,6,7,8,9,10]
# Get the even numbers only from the above list

In [564]:
list(filter(lambda x:x%2==0,lst))

[2, 4, 6, 8, 10]

In [568]:
eve=lambda x:x%2==0

In [572]:
eve(2)

True

In [578]:
for i in filter(lambda x:x%2==0,lst):
    print(i)

2
4
6
8
10

In [580]:
names=['amit','Jayanth','suresh','tina','Amandeep','Erica','sumit','Gaurav']

In [592]:
res=list(filter(lambda x:x.istitle(),names))
print(res)

['Jayanth', 'Amandeep', 'Erica', 'Gaurav']

In [590]:
res=[]
for i in names:
    if i.istitle():
        res.append(i)
print(res)

['Jayanth', 'Amandeep', 'Erica', 'Gaurav']

In [594]:
def t_name(name):
    if name.istitle():
        return True

In [598]:
list(filter(t_name,names))

['Jayanth', 'Amandeep', 'Erica', 'Gaurav']

In [600]:
emp={'Amit':'Male','Tina':'Female','Suresh':'Male','Sarah':'Female','Erica':'Female'}

In [606]:
list(filter(lambda x:x=='Female',emp.values()))

['Female', 'Female', 'Female']

In [608]:
def gender(g):
    if g=='Male':
        return True

In [612]:
list(filter(gender,emp.values()))

['Male', 'Male']

In [614]:
text='We are learning Python'

In [620]:
''.join(list(filter(lambda x:x in 'AEIOUaeiou',text)))

'eaeeaio'

In [624]:
s=''
for i in text:
    if i in 'AEIOUaeiou':
        s=s+i
print(s)

eaeeaio

In [633]:
lst=['Male','Female','Male','Female','Female']

In [635]:
def gender(g):
    if g=='Male':
        return True

In [637]:
list(filter(gender,lst))

['Male', 'Male']

# map()

In [639]:
# - It is used to apply the element by element operation on an iterable.
# - We can map multiple iterables using map.
# - It takes two or more arguments.
# - The first argument is a function and the rest of the arguments are iterables.
# - It returns a map object.
# - We can typecast map object to list(), tuple() etc. or we can apply loop

In [641]:
# map(function,iterable)

In [643]:
lst=[1,2,3,4,5,6]
# Square all the numbers.

In [649]:
res=[]
for i in lst:
    res.append(i**2)
print(res)

[1, 4, 9, 16, 25, 36]

In [651]:
def square(x):
    return x**2

In [657]:
res=[]
for i in lst:
    res.append(square(i))
print(res)

[1, 4, 9, 16, 25, 36]

In [665]:
m=map(square,lst)
print(m,type(m))

res=list(m)
print(res)

<map object at 0x000001C87BDBD510> <class 'map'>
[1, 4, 9, 16, 25, 36]

In [673]:
res=list(map(lambda x:x**2,lst))
print(res)

[1, 4, 9, 16, 25, 36]

In [677]:
lst=[1,2,3,4,5,6,7,8,9,10]
# Square the even numbers and cube the odd numbers

In [679]:
def sqr_cube(x):
    if x%2==0:
        return x**2
    else:
        return x**3

In [685]:
sqr_cube(3)

27

In [691]:
res=list(map(sqr_cube,lst))
print(res)

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

In [699]:
res=list(map(lambda x:x**2 if x%2==0 else x**3,lst))
print(res)

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

In [703]:
nums_1=[10,20,30,40,50]
nums_2=[15,25,14,26,75]
# Output- res=[25,45,44,66,125]

In [711]:
def add(x,y):
    return x+y

In [719]:
res=[]
for i,j in list(zip(nums_1,nums_2)):
    res.append(add(i,j))
print(res)

[25, 45, 44, 66, 125]

In [723]:
list(map(add,nums_1,nums_2))

[25, 45, 44, 66, 125]

In [729]:
list(map(lambda x,y:x+y,nums_1,nums_2))

[25, 45, 44, 66, 125]

In [767]:
names=['Amit','Suresh','Kuldeep','Jayanth','Aditya']
sur_names=('Kumar','Shetty','Singh','Kumar','Rao')

In [769]:
res=[]
for i,j in zip(names,sur_names):
    res.append(i+' '+j)
print(res)

['Amit Kumar', 'Suresh Shetty', 'Kuldeep Singh', 'Jayanth Kumar', 'Aditya Rao']

In [771]:
res=list(map(lambda x,y:x+' '+y,names,sur_names))
print(res)

['Amit Kumar', 'Suresh Shetty', 'Kuldeep Singh', 'Jayanth Kumar', 'Aditya Rao']

In [776]:
d=dict(zip(names,sur_names))
d

{'Amit': 'Kumar',
 'Suresh': 'Shetty',
 'Kuldeep': 'Singh',
 'Jayanth': 'Kumar',
 'Aditya': 'Rao'}

In [778]:
# Output- ['Amit Kumar', 'Suresh Shetty', 'Kuldeep Singh', 'Jayanth Kumar', 'Aditya Rao']

In [786]:
list(map(lambda x,y:x+' '+y,d.keys(),d.values()))

['Amit Kumar', 'Suresh Shetty', 'Kuldeep Singh', 'Jayanth Kumar', 'Aditya Rao']

In [788]:
d

{'Amit': 'Kumar',
 'Suresh': 'Shetty',
 'Kuldeep': 'Singh',
 'Jayanth': 'Kumar',
 'Aditya': 'Rao'}

In [790]:
codes=[101,102,103,104,105]
city=['Mumbai','Chennai','Bhopal','Pune','Noida']

In [808]:
dt={}
for i in list(map(lambda n,s,c,ct:{c:[n+' '+s,ct]},d,d.values(),codes,city)):
    dt.update(i)

In [800]:
# {101:['A'......],
# 101,:['S'].....}

In [812]:
print(dt)

{101: ['Amit Kumar', 'Mumbai'], 102: ['Suresh Shetty', 'Chennai'], 103: ['Kuldeep Singh', 'Bhopal'], 104: ['Jayanth Kumar', 'Pune'], 105: ['Aditya Rao', 'Noida']}

In [814]:
gender=['Male','Female','Male','Female','Male','Male','Female']
# 'Male'-1
# 'Female'-0

In [818]:
list(map(lambda x:1 if x=='Male' else 0,gender))

[1, 0, 1, 0, 1, 1, 0]

In [820]:
lst=[1,2,3,4,5,6]

In [828]:
list(filter(lambda x:x%2==0,lst))

[2, 4, 6]

In [830]:
list(map(lambda x:x%2==0,lst))

[False, True, False, True, False, True]

In [832]:
lst=[1,2,3,4,5,6]

In [836]:
list(map(lambda x:x**2,lst))

[1, 4, 9, 16, 25, 36]

In [838]:
list(filter(lambda x:x**2,lst))

[1, 2, 3, 4, 5, 6]

# reduce()

In [843]:
# - It is used to perform the aggregation operation on an iterable.
# - Aggregations- Sum, Min, Max, Average
# - It takes two arguments.
# - The first argument is a function and the second argument is an iterable.
# - The function that we pass to reduce() must have two arguments.
# - To use reduce() we have to import it from the functools module.

In [845]:
from functools import reduce

In [847]:
reduce

In [849]:
# reduce(function,iterable)

In [851]:
lst=[1,2,3,4,5,6,7,8,9,10]
# Sum of the list

In [853]:
s=0
for i in lst:
    s+=i
print(s)

55

In [855]:
def add(x,y):
    return x+y

In [857]:
reduce(add,lst)

55

In [859]:
reduce(lambda x,y:x+y,lst)

55

In [863]:
reduce(lambda x,y:x*y,lst)

3628800

In [865]:
m=1
for i in lst:
    m*=i
print(m)

3628800

In [867]:
# Maximum of a list

In [869]:
lst=[2,8,4,6,12,4,32,14,52,41,0,4]

In [871]:
def mx(x,y):
    if x>y:
        return x
    else:
        return y

In [873]:
reduce(mx,lst)

52

In [875]:
reduce(lambda x,y:x if x>y else y, lst)

52

In [877]:
def mn(x,y):
    if x<y:
        return x
    else:
        return y

In [879]:
reduce(mn,lst)

0

In [881]:
reduce(lambda x,y:x if x<y else y,lst)

0

In [883]:
lst=[1,2,3,4,5,6,7,8,9]

In [885]:
reduce(lambda x,y:x+y,lst)

45

In [887]:
x=1
y=2
# (x),y
(1),2
(1+2),3
(3+3),4
(6+4),5
(10+5),6
(15+6),7
(21+7),8
(28+8),9
(36+9)

45

In [889]:
lst=[2,8,4,6,12,4,32,14,52,41,0,4]

In [891]:
# x if x>y else y

In [899]:
x=2
y=8
# x>y
(2>8)-F
x=8
y=4
(8>4)-T
x=8
y=6
(8>6)-T
x=8
y=12
(8>12)-F
x=12
y=4
(12>4)-T
x=12
y=32
(12>32)-F
x=32
y=14
(32>14)-T
x=32
y=52
(32>52)-F
x=52
y=41
(52>41)-T
x=52
y=0
(52>0)-T
x=52
y=4
(52>4)-T
x=52

In [901]:
# Function Properties
# Function Decorators