# String Operations

In [1]:
# - 1- Concatenation
# - 2- Repeatition
# - 3- Length
# - 4- Indexing and slicing
# - 5- Memebership

# Indexing and Slicing

### Indexing

In [2]:
# - String is an ordered collection of data as each element of a string gets stored at a particular index.
# - String is also known as sequence type as it follows indexing.
# - String supports +ive and -ive indexing both.

In [3]:
my_str='Python'

In [9]:
# Fetch the first element.

print(my_str[0])
print(my_str[-6])
print(my_str[-len(my_str)])

P
P
P

In [8]:
-len(my_str)

-6

In [14]:
# Fetch the last element.

print(my_str[-1])
print(my_str[5])
print(my_str[len(my_str)-1])

n
n
n

In [13]:
len(my_str)-1

5

In [16]:
my_str='We are learning Python programmming'

# Fetch the first element
print(my_str[0])
print(my_str[-len(my_str)])

W
W

In [20]:
-len(my_str)

-35

In [18]:
# Fetch the last element
print(my_str[-1])
print(my_str[len(my_str)-1])

g
g

In [22]:
len(my_str)-1

34

### Slicing

In [23]:
# - Getting a substring out of a string is known as string slicing.

In [25]:
# string[start:stop:step]
# stop is excluded
# step is 1 by default.

In [32]:
my_str='Python'

# Get the first three elements. [0,1,2] -> 3
print(my_str[0:3:1])
print(my_str[0:3])

# Get every alternate element. [0,2,4] ->5
print(my_str[0:5:2])

Pyt
Pyt
Pto

# When the step is +ive

In [33]:
# - The default start is 0.
# - The default stop is len(my_str)

In [37]:
my_str='Python'

# First three element
print(my_str[0:3:1])
print(my_str[:3:1])
print(my_str[0:3])
print(my_str[:3])

Pyt
Pyt
Pyt
Pyt

In [46]:
my_str='Python' # [0,1,2,3,4,5] ->6

print(my_str[0:6:1])
print(my_str[0:len(my_str):1])
print(my_str[::1])
print(my_str[0::])
print(my_str[::])
print(my_str[2::])

Python
Python
Python
Python
Python
thon

In [41]:
len(my_str)

6

In [48]:
my_str='Python'

# Every alternate element ->'Pto'

print(my_str[0:len(my_str):2])
print(my_str[::2])

Pto
Pto

# When the step is -ive

In [49]:
# - The default start is -1
# - The default stop is -len(my_str)-1

In [64]:
my_str='Python'

# Reverse the string.
# -ive indexes- [-1,-2,-3,-4,-5,-6] -> -7

print(my_str[-1:-7:-1])
print(my_str[-1:-len(my_str)-1:-1])
print(my_str[:-len(my_str)-1:-1])
print(my_str[-1::-1])
print(my_str[::-1])

nohtyP
nohtyP
nohtyP
nohtyP
nohtyP

In [53]:
-1-1

-2

In [58]:
-len(my_str)-1

-7

In [60]:
-(len(my_str)+1)

-7

In [72]:
My_str='Python'

# Get the alternate elements in -ive direction
# Output- nhy

print(my_str[-1:-len(my_str)-1:-2])
print(my_str[::-2])

# Output- otP
print(my_str[-2::-2])

nhy
nhy
otP

In [76]:
my_str='Python' # +ive indexes in reverse order-> [5,4,3,2,1,0] -> -1

# Reverse using the +ive indexes
my_str[5:-1:-1]

''

In [78]:
my_str[5:2]

''

In [79]:
my_str='Python'

print(my_str[-5:3])

yt

In [80]:
my_str='Python'

print(my_str[-2:1])

In [81]:
my_str='Python'

print(my_str[-2:1:-1])

oht

In [82]:
# Left to right (+ive step required)
# Right to left (-ive step is required)
# else empty string

# Membership

In [83]:
# - String is a container type.
# - Every character in a string is the element of the string.
# - Since string is a container type so we can apply membership operations on a string.

In [88]:
my_str='We are learning Python programming.'

print('e' in my_str)
print('ear' in my_str)
print('re' in my_str)
print('mm' in my_str)
print('rae' in my_str)

True
True
True
True
False

# String Methods

In [89]:
my_str='Python'
print(my_str,type(my_str))

Python <class 'str'>

In [91]:
# - my_str contains a string value.
# - In other words we can say that my_str is the object of class str.
# - It means whatever methods are available inside the class str are applicable on my_str

In [92]:
# - All methods of str class are applicable on a string object.
# - All methods of list class are aplicable on a list object and so on.
# - If we apply any list method on a string object then it raises attribute error.

In [90]:
lst=[1,2,3]
print(lst,type(lst))

[1, 2, 3] <class 'list'>

In [93]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [94]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [95]:
my_str='Hello'
my_str.pop()

AttributeError: 'str' object has no attribute 'pop'

In [97]:
my_str='Python'
print(my_str,type(my_str))

Python <class 'str'>

In [99]:
print(dir(my_str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [100]:
# 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map',
# 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 
# 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix',
# 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 
# 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill'

### How to apply a method?

In [101]:
# string.method

# capitalize()

In [103]:
# - It capitalizes the first alphabet of the first word in a sentence.
# - It returns a new string object.
# - It does make the changes in the existing object.

In [107]:
my_str='hello everyone how are you?'

print(my_str)
print(my_str.capitalize())

print(my_str)

hello everyone how are you?
Hello everyone how are you?
hello everyone how are you?

In [111]:
my_str='hello everyone how are you?'
x=my_str.capitalize()

print(x)
print(my_str)

Hello everyone how are you?
hello everyone how are you?

In [114]:
my_str='123hello everyone how are you?'
print(my_str.capitalize())

123hello everyone how are you?

# title()

In [115]:
# - It capitalizes the first letter of each word in a sentence.
# - It returns a new string object.
# - It does make the changes in the existing object.

In [119]:
my_str='hello everyone how are you?'
print(my_str)

print(my_str.title())

print(my_str)

hello everyone how are you?
Hello Everyone How Are You?
hello everyone how are you?

In [121]:
my_str='hello everyone how are you?'
x=my_str.title()

print(x)
print(my_str)

Hello Everyone How Are You?
hello everyone how are you?

In [124]:
my_str='hello'
print(my_str.capitalize())
print(my_str.title())
print(my_str)

Hello
Hello
hello

# swapcase()

In [125]:
# - It converts the upper case letters into lower case and vice versa in a string.
# - It returns a new string object.
# - It does make the changes in the existing object.

In [131]:
my_str='Hello Python'
print(my_str)
print(my_str.swapcase())
print(my_str)

Hello Python
hELLO pYTHON
Hello Python

In [137]:
my_str='Hello123P@#$pYThon'
print(my_str)

print(my_str.swapcase())
print(my_str)

Hello123P@#$pYThon
hELLO123p@#$PytHON
Hello123P@#$pYThon

# upper()

In [139]:
# - It converts all the alphabets in a string into upper case.
# - It returns a new string object.
# - It does make the changes in the existing object.

In [143]:
my_str='hello python'
print(my_str)

print(my_str.upper())
print(my_str)

hello python
HELLO PYTHON
hello python

In [146]:
my_str='HellO PyThON'
print(my_str)
print(my_str.upper())
print(my_str)

HellO PyThON
HELLO PYTHON
HellO PyThON

In [149]:
my_str='HellO 123 PyThON #$%%'
print(my_str)

print(my_str.upper())
print(my_str)

HellO 123 PyThON #$%%
HELLO 123 PYTHON #$%%
HellO 123 PyThON #$%%

# lower()

In [150]:
# - It converts all the alphabets in a string into lower case.
# - It returns a new string object.
# - It does make the changes in the existing object.

In [154]:
my_str='HELLO PYTHON'
print(my_str)

print(my_str.lower())
print(my_str)

HELLO PYTHON
hello python
HELLO PYTHON

In [158]:
my_str='HeLlO PyTHON'
print(my_str)

print(my_str.lower())
print(my_str)

HeLlO PyTHON
hello python
HeLlO PyTHON

In [159]:
my_str='HeLlO1232 Py@##$T4%56HON'
print(my_str)

print(my_str.lower())
print(my_str)

HeLlO1232 Py@##$T4%56HON
hello1232 py@##$t4%56hon
HeLlO1232 Py@##$T4%56HON

# casefold()

In [161]:
# - It converts all the alphabets into lower case.
# - lower() is applicable only on the ASCII characters.
# - casefold() can handle non-ASCII characters that are defined in Unicode table.
# - It returns a new object.
# - It does not make the changes in the existing object.

In [166]:
my_str='Fleißen'
print(my_str)
print(my_str.lower())
print(my_str.casefold())
print(my_str)

Fleißen
fleißen
fleissen
Fleißen

# strip()

In [173]:
# - It removes the specified characters from both the boundaries of the string.
# - By default it removes the space characters from both the boundaries of the string.
# - It does not make the changes in the existing string.
# - It returns a new string.
# - Note- It only removes from the boundary not from the middle.

In [169]:
# string.strip('character')

In [172]:
my_str='$150$'
print(my_str)
print(my_str.strip('$'))
print(my_str)

$150$
150
$150$

In [176]:
my_str='$150'
print(my_str)

print(my_str.strip('$'))
print(my_str)

$150
150
$150

In [180]:
my_str='#####Python #### class#########'
print(my_str)

print(my_str.strip('#'))
print(my_str)

#####Python #### class#########
Python #### class
#####Python #### class#########

In [183]:
my_str='#@Amit Kumar@#'
print(my_str)
print(my_str.strip('#@'))

#@Amit Kumar@#
Amit Kumar

In [184]:
my_str='   Python class           '
my_str

'   Python class           '

In [187]:
my_str.strip()

'Python class'

# lstrip()

In [188]:
# - It removes the specified character from the left boundary of the string.
# - By default it removes the space from the left boundary of the string.
# - It does not make the changes in the existing string.
# - It returns a new string.

In [194]:
my_str='$120$'
# Output- 120$

print(my_str.lstrip('$'))
print(my_str)

120$
$120$

In [196]:
my_str='          Python class             '
my_str

'          Python class             '

In [197]:
my_str.lstrip()

'Python class             '

# rstrip()

In [198]:
# - It removes the specified character from the right boundary of the string.
# - By default it removes the space from the right boundary of the string.
# - It does not make the changes in the existing string.
# - It returns a new string.

In [203]:
my_str='$150$'
# Output- '$150'

print(my_str.rstrip('$'))
print(my_str)

$150
$150$

In [204]:
my_str='          Python class            '
my_str

'          Python class            '

In [206]:
my_str.rstrip()

'          Python class'

In [210]:
price='$150'
int(price)

ValueError: invalid literal for int() with base 10: '$150'

In [218]:
price='$150'
print(price)

price=price.strip('$')
price=int(price)
print(price,type(price))

quantity=5
total_amt=price*quantity

print(total_amt)

$150
150 <class 'int'>
750

# index()

In [219]:
# - It returns the index of the first occurence of the character or the substring from left to right.
# - If the character or the substring is not found then it raises value error.

In [220]:
# string.index('character')

In [223]:
my_str='We are learning Python programming'

print(my_str.index('e'))
print(my_str.index('ear'))
print(my_str.index('in'))

1
8
12

In [224]:
print(my_str.index('x'))

ValueError: substring not found

In [225]:
print(my_str.index('Java'))

ValueError: substring not found

In [226]:
# my_str.index('character',start_index)

In [234]:
my_str='We are learning python programming'

# Get the index of the second 'e'

print(my_str.index('e',2))

print(my_str.index('p'))
print(my_str.index('p',17))

print(my_str.index('p',24))

5
16
23

ValueError: substring not found

In [236]:
# my_str.index('character',start_index,stop_index)
# stop_index is exluded

In [240]:
my_str='We are learning python programming'

print(my_str.index('e',6,10))
print(my_str.index('e',6,9))

8
8

# find()

In [242]:
# - It returns the index of the first occurence of the character or the substring from left to right.
# - If the character or the substring is not found then it returns -1.

In [248]:
# string.find('character')
# string.find('character',start_index)
# string.find('character',start_index,stop_index)

In [250]:
my_str='We are learning python programming'

print(my_str.find('e'))
print(my_str.find('e',2))
print(my_str.find('e',6,8))
print(my_str.find('e',6,9))

1
5
-1
8

In [251]:
print(my_str.find('x'))

-1

# rfind()

In [252]:
# - It reads the dtring from right to left.
# - It returns the index of the first occurence of the character or substring.
# - Note- It returns the actual index.
# - If the character or the substring is not found then it returns -1.

In [254]:
# string.rfind('character')
# string.rfind('character',start_index)
# string.rfind('character',start_index,stop_index)

In [258]:
my_str='We are learning python programming'

print(my_str.rfind('n'))
print(my_str.rfind('e',2,9))
print(my_str.rfind('a'))
print(my_str.rfind('a',29))

32
8
28
-1

In [256]:
len(my_str)

34

# ljust, rjust and center

## ljust

In [261]:
# - It shifts the string to the left side by the specified number of characters.
# - It reads the string left to right.
# - To shift the string to the left, it adds the specified character to the right side of the string.

In [264]:
# string.ljust(length,'character')
# - The length should be the length of the resultant string.

In [270]:
my_str='Python'
# Output- 'Python****'

print(my_str.ljust(10,'*'))
print(my_str.ljust(len(my_str)+4,'*'))

Python****
Python****

# rjust()

In [271]:
# - It shifts the string to the right side by the specified number of characters.
# - It reads the string right to left.
# - To shift the string to the right, it adds the specified character to the left side of the string.

In [273]:
# string.rjust(length,'character')
# - The length should be the length of the resultant string.

In [278]:
my_str='Python class'
# Output- '***Python class'

print(my_str.rjust(len(my_str)+3,'*'))

***Python class

# center()

In [279]:
# - It shifts the string in the center.
# - To shift the in the center, it adds the characters on both sides.

In [280]:
# string.center(length,'character')
# - The length should be the length of the resultant string.

In [284]:
my_str='Python'
# Output- '**Python**'

print(my_str.center(len(my_str)+4,'*'))
print(my_str.center(len(my_str)+5,'*'))

**Python**
***Python**

In [286]:
my_str='Happy'
print(my_str.center(len(my_str)+4,'*'))
print(my_str.center(len(my_str)+5,'*'))

**Happy**
**Happy***

In [296]:
my_str='Happy'
# Output- '***Happy**'

print(my_str.ljust(len(my_str)+2,'*').rjust(len(my_str)+2+3,'*'))

***Happy**

# isalnum()

In [297]:
# - If all the characters in a string are alphanumeric characters then it returns True else False.
# - Alphanumeric characters -> (A-Z, a-z, 0-9)

In [298]:
my_str='Python'
print(my_str.isalnum())

True

In [299]:
my_str='Python1234'
print(my_str.isalnum())

True

In [302]:
my_str='Python class'
print(my_str.isalnum())

False

In [304]:
my_str='Python!@@#4'
print(my_str.isalnum())

False

In [305]:
my_str='PythonCLASS'
print(my_str.isalnum())

True

# isalpha()

In [306]:
# - If all the characters in a string are the alphabets then it returns True else False.

In [307]:
my_str='Python'
print(my_str.isalpha())

True

In [308]:
my_str='PYTHONclass'
print(my_str.isalpha())

True

In [309]:
my_str='Python class'
print(my_str.isalpha())

False

In [310]:
my_str='Python123'
print(my_str.isalpha())

False

In [311]:
my_str='Python!@#@$'
print(my_str.isalpha())

False

# istitle()

In [312]:
# - If a string is in title case then it returns True else False.

In [313]:
my_str='This Is Python Class'
print(my_str.istitle())

True

In [314]:
my_str='This is Python Class'
print(my_str.istitle())

False

In [319]:
my_str='!@@#This Is1235 Pyt@#$#%hon Class'
print(my_str.istitle())

False

In [320]:
my_str='!@@#This Is1235 Pyt@#$#%Hon Class'
print(my_str.istitle())

True

# isupper()

In [321]:
# - If all the alphabets in a string are in upper case then it returns True else False.

In [322]:
my_str='PYTHON'
print(my_str.isupper())

True

In [324]:
my_str='PYTHON CLASS'
print(my_str.isupper())

True

In [325]:
my_str='PYTHON CLASS12345'
print(my_str.isupper())

True

In [326]:
my_str='PYTHON#@#$ CL3%$^^&A234S456S'
print(my_str.isupper())

True

In [328]:
my_str='PYTHON CLAsS'
print(my_str.isupper())

False

# islower()

In [329]:
# - If all the alphabets in a string are in lower case then it returns True else False.

In [330]:
my_str='hello'
print(my_str.islower())

True

In [331]:
my_str='hello122324'
print(my_str.islower())

True

In [332]:
my_str='hello!#@$2324535'
print(my_str.islower())

True

In [333]:
my_str='Hello'
print(my_str.islower())

False

# isidentifier()

In [334]:
# - If the characters in a string repreent a valid identifier then it returns True else False.

### Properties of a valid identifier

In [335]:
# - It may use alphabets, numbers and _.
# - Space and special characters are not allowed.
# - It may have a digit but should not begin with a digit.
# - _ can be taken as identifier.

In [336]:
abc=10

In [337]:
my_str='abc'
print(my_str.isidentifier())

True

In [338]:
a4='Hello'

In [339]:
print('a4'.isidentifier())

True

In [340]:
4a=50

SyntaxError: invalid decimal literal (3118112869.py, line 1)

In [342]:
my_str='4a'
print(my_str.isidentifier())

False

In [343]:
a_b=450

In [344]:
print('a_b'.isidentifier())

True

In [345]:
_a=100

In [346]:
print('_a'.isidentifier())

True

In [347]:
_=20
print(_)

20

In [348]:
_

20

In [349]:
print('_'.isidentifier())

True

In [350]:
a b=100

SyntaxError: invalid syntax (2974175.py, line 1)

In [351]:
print('a b'.isidentifier())

False

In [353]:
a@b=20

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3857242645.py, line 1)

In [354]:
print('a@b'.isidentifier())

False

In [356]:
# print(dir(str))

# isascii()

In [357]:
# - If all the characters in a string are the ASCII caharcters then it returns True else False.

In [358]:
my_str='Python'
print(my_str.isascii())

True

In [359]:
my_str='Fleißen'
print(my_str.isascii())

False

# isspace()

In [360]:
# - If all the characters in a string are the space characters then it returns True else False.
# - Space charcters- ' ', \t, \n, \r, \v etc.

In [361]:
my_str=' \t\r\v\n \t\n \r'
print(my_str.isspace())

True

In [362]:
my_str=' \t\r\v\n !\t\n \r'
print(my_str.isspace())

False

In [365]:
print('Python\nClass')

Python
Class

In [366]:
print('Python\tClass')

Python	Class

In [371]:
print('Python\rAbcdefgh')

Abcdefgh

In [372]:
print('Python\vClass')

PythonClass

# isnumeric(), isdigit() and isdecimal()

### isnumeric()

In [373]:
# - It returns True if all the characters in a string are- 
# - digits, superscripts, subscripts, Roman numerals, vulgar fractions.

### isdigit()

In [374]:
# - It returns True if all the characters in a string are- 
# - digits, superscripts, subscripts.

### iddecimal()

In [375]:
# - It returns True if all the characters in a string are digits only.

In [376]:
my_str='12345'

print(my_str.isnumeric())
print(my_str.isdigit())
print(my_str.isdecimal())

True
True
True

In [377]:
my_str='12.345'

print(my_str.isnumeric())
print(my_str.isdigit())
print(my_str.isdecimal())

False
False
False

In [380]:
my_str='5'+'²'
print(my_str)

print(my_str.isnumeric())
print(my_str.isdigit())
print(my_str.isdecimal())

5²
True
True
False

In [381]:
my_str='a'+'²'
print(my_str)

print(my_str.isnumeric())
print(my_str.isdigit())
print(my_str.isdecimal())

a²
False
False
False

In [384]:
my_str='5'+'ᵖ'
print(my_str)

print(my_str.isnumeric())
print(my_str.isdigit())
print(my_str.isdecimal())

5ᵖ
False
False
False

In [387]:
my_str='6'+'₄'
print(my_str)

print(my_str.isnumeric())
print(my_str.isdigit())
print(my_str.isdecimal())

6₄
True
True
False

In [388]:
my_str='a'+'₄'
print(my_str)

print(my_str.isnumeric())
print(my_str.isdigit())
print(my_str.isdecimal())

a₄
False
False
False

In [389]:
my_str='6'+'ᵤ'
print(my_str)

print(my_str.isnumeric())
print(my_str.isdigit())
print(my_str.isdecimal())

6ᵤ
False
False
False

In [392]:
my_str='Ⅷ'
print(my_str)

print(my_str.isnumeric())
print(my_str.isdigit())
print(my_str.isdecimal())

Ⅷ
True
False
False

In [395]:
for i in range(170,190):
    print(i,chr(i))

170 ª
171 «
172 ¬
173 ­
174 ®
175 ¯
176 °
177 ±
178 ²
179 ³
180 ´
181 µ
182 ¶
183 ·
184 ¸
185 ¹
186 º
187 »
188 ¼
189 ½

In [398]:
my_str='6'+'¼'
print(my_str)

print(my_str.isnumeric())
print(my_str.isdigit())
print(my_str.isdecimal())

6¼
True
False
False

In [399]:
my_str='A'+'¼'
print(my_str)

print(my_str.isnumeric())
print(my_str.isdigit())
print(my_str.isdecimal())

A¼
False
False
False

# split()

In [400]:
# - It splits the string with a specified character and returns a list.
# - By defalut it splits from the space and the '\n' character.

In [403]:
# string.split('character')

In [408]:
my_str='We#are#learning#Python#programming'
print(my_str)

words=my_str.split('#')
print(words)

We#are#learning#Python#programming
['We', 'are', 'learning', 'Python', 'programming']

In [409]:
my_str='We are learning Python programming'
print(my_str)

words=my_str.split()
print(words)

We are learning Python programming
['We', 'are', 'learning', 'Python', 'programming']

In [411]:
my_str='''We are learning Python programming.
We are going to be data scientists.
All the best'''
print(my_str)

words=my_str.split()
print(words)

We are learning Python programming.
We are going to be data scientists.
All the best
['We', 'are', 'learning', 'Python', 'programming.', 'We', 'are', 'going', 'to', 'be', 'data', 'scientists.', 'All', 'the', 'best']

In [412]:
my_str='''We are learning Python programming.
We are going to be data scientists.
All the best'''
print(my_str)

words=my_str.split('\n')
print(words)

We are learning Python programming.
We are going to be data scientists.
All the best
['We are learning Python programming.', 'We are going to be data scientists.', 'All the best']

# join()

In [416]:
# 'seperater'.join(list)

In [413]:
# - It joins the string elements of a list and returns a string.

In [423]:
words=['This','is','Python','class']
print(words)

sentence=' '.join(words)
print(sentence)

['This', 'is', 'Python', 'class']
This is Python class

# replace()

In [425]:
# - It replaces a character or a substring inside a string with the specified character or substring.
# - It returns a new string object.
# - It does not make the changes in the exisiting object.

In [426]:
# sring.replace('substring','replacement')

In [430]:
my_str='Python'
print(my_str)

print(my_str.replace('P','K'))
print(my_str)

Python
Kython
Python

In [435]:
my_str='''This is Java class.
Java is a high level language.
There are many versions of Java'''

print(my_str)

new_string=my_str.replace('Java','Python')
print()
print(new_string)

This is Java class.
Java is a high level language.
There are many versions of Java

This is Python class.
Python is a high level language.
There are many versions of Python

In [441]:
my_str='Python'
print(my_str)

print(my_str.replace('k','A'))

Python
Python

# startswith()

In [442]:
# - If the string starts with the specified character or substring then it returns True else False.

In [448]:
my_str='Python class'
print(my_str)

print(my_str.startswith('P'))
print(my_str.startswith('Py'))
print(my_str.startswith('p'))
print(my_str.startswith('Pyth'))

Python class
True
True
False
True

# endswith()

In [449]:
# - If the string ends with the specified character or substring then it returns True else False.

In [457]:
my_str='Python class'

print(my_str.endswith('s'))
print(my_str.endswith('ss'))
print(my_str.endswith('on class'))
print(my_str.endswith('ssalc'))

True
True
True
False

In [460]:
my_str='Python class\n'

print(my_str.endswith('\n'))

True

In [461]:
upper('abcd')

NameError: name 'upper' is not defined

In [462]:
len('abcd')

4